<div id="help_dialogue" class="help_dialogue">
<h2><%= l('help_' + @help_key + '_title') %></h2>
<%= l('help_' + @help_key + '_description') %>
<br /><br />
<div style="vertical-align:bottom, float:right">
<a href="#" class="lbAction" rel="deactivate"><%= l(:button_close) %></a>
</div>
</div>
