<h1>Listing pris</h1>

<table>
  <tr>
  </tr>

<% @pris.each do |pri| %>
  <tr>
    <td><%= link_to 'Show', pri %></td>
    <td><%= link_to 'Edit', edit_pri_path(pri) %></td>
    <td><%= link_to 'Destroy', pri, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pri', new_pri_path %>