html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1.4; /*used to be 1.7*/
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
table, td, th {
	vertical-align:middle;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
a img {
	border:none;
}
html {
	font-size:100.01%;
	background-color: #f3f3f3;
}
body {
/*	font-size:75%;*/
	font-family: helvetica,arial,freesans,clean,sans-serif;
/*	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;*/
	
}
h1,h2, h3, h4, h5, h6 {
	font-weight:normal;
	color:#111;
}

h1 {
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
	font-weight:bold;
	text-shadow: 1px 1px #eee;
	color: #999;
	text-align: center;
	
	 }

h2 {
	color: #365b6d;
	font-weight:bold;
	font-size:2em;
	margin-bottom:0.75em;
	line-height: 110%;
}
h3 {
	font-size:1.5em;
/*	line-height:1.15;*/
	line-height: 110%;
	margin-bottom:0.5em;
}
h4 {
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
}
h5 {
	font-size:1em;
	font-weight:bold;
	margin-bottom:1.5em;
}
h6 {
	font-size:.9em;
	font-weight:bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}
p {
	margin:0 0.5em 1.5em;
	font-size: 110%;
	line-height: 120%;
/*	color: #818181*/
}
p img.left {
	float:left;
	margin:1.5em 1.5em 1.5em 0;
	padding:0;
}
p img.right {
	float:right;
	margin:1.5em 0 1.5em 1.5em;
}

/*blockquote {
	margin:1.5em;
	color:#666;
	font-style:italic;
}
*/
strong {
	font-weight:bold;
}
em, dfn {
	font-style:italic;
}
dfn {
	font-weight:bold;
}
sup, sub {
	line-height:0;
}
abbr, acronym {
	border-bottom:1px dotted #666;
}
address {
	margin:0 0 1.5em;
	font-style:italic;
}
del {
	color:#666;
}
pre {
	margin:1.5em 0;
	white-space:pre;
}
pre, code, tt {
	font:1em 'andale mono', 'lucida console', monospace;
	line-height:1.5;
}
li ul, li ol {
	margin:0 1.5em;
}
ul, ol {
	margin:0 1.5em 1.5em 1.5em;
}
ul {
	list-style-type:disc;
}
ul li {
	font-size: 110%;
/*	line-height: 120%;
*//*	color: #818181*/
}
ol {
	list-style-type:decimal;
}
dl {
	margin:0 0 1.5em 0;
}
dl dt {
	font-weight:bold;
}
dd {
	margin-left:1.5em;
}
table {
	margin-bottom:1.4em;
	width:100%;
}
th {
	font-weight:bold;
}
thead th {
	background:#c3d9ff;
}
th, td, caption {
	padding:4px 10px 4px 5px;
}
tr.even td {
	background:#e5ecf9;
}
tfoot {
	font-style:italic;
}
caption {
	background:#eee;
}
.small {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}
.large {
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}
.hide {
	display:none;
}
.quiet {
	color:#666;
}
.loud {
	color:#000;
}
.highlight {
	background:#ff0;
}
.added {
	background:#060;
	color:#fff;
}
.removed {
	background:#900;
	color:#fff;
}
.first {
	margin-left:0;
	padding-left:0;
}
.last {
	margin-right:0;
	padding-right:0;
}
.top {
	margin-top:0;
	padding-top:0;
}
.bottom {
	margin-bottom:0;
	padding-bottom:0;
}
.container {
	width:940px;
	margin:0 auto;
	min-height:400px;
}
.showgrid {
	background:url(grid.png);
}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12 {
	float:left;
	margin-right:20px;
}
.last, div.last {
	margin-right:0;
}
.span-1 {
	width:60px;
}
.span-2 {
	width:140px;
}
.span-3 {
	width:220px;
}
.span-4 {
	width:300px;
}
.span-5 {
	width:380px;
}
.span-6 {
	width:460px;
}
.span-7 {
	width:540px;
}
.span-8 {
	width:620px;
}
.span-9 {
	width:700px;
}
.span-10 {
	width:780px;
}
.span-11 {
	width:860px;
}
.span-12 {
	width:940px;
	margin-right:0;
}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12 {
	border-left-width:1px!important;
	border-right-width:1px!important;
	padding-left:5px!important;
	padding-right:5px!important;
}
input.span-1, textarea.span-1 {
	width:48px!important;
}
input.span-2, textarea.span-2 {
	width:128px!important;
}
input.span-3, textarea.span-3 {
	width:208px!important;
}
input.span-4, textarea.span-4 {
	width:288px!important;
}
input.span-5, textarea.span-5 {
	width:368px!important;
}
input.span-6, textarea.span-6 {
	width:448px!important;
}
input.span-7, textarea.span-7 {
	width:528px!important;
}
input.span-8, textarea.span-8 {
	width:608px!important;
}
input.span-9, textarea.span-9 {
	width:688px!important;
}
input.span-10, textarea.span-10 {
	width:768px!important;
}
input.span-11, textarea.span-11 {
	width:848px!important;
}
input.span-12, textarea.span-12 {
	width:928px!important;
}
.append-1 {
	padding-right:80px;
}
.append-2 {
	padding-right:160px;
}
.append-3 {
	padding-right:240px;
}
.append-4 {
	padding-right:320px;
}
.append-5 {
	padding-right:400px;
}
.append-6 {
	padding-right:480px;
}
.append-7 {
	padding-right:560px;
}
.append-8 {
	padding-right:640px;
}
.append-9 {
	padding-right:720px;
}
.append-10 {
	padding-right:800px;
}
.append-11 {
	padding-right:880px;
}
.prepend-1 {
	padding-left:80px;
}
.prepend-2 {
	padding-left:160px;
}
.prepend-3 {
	padding-left:240px;
}
.prepend-4 {
	padding-left:320px;
}
.prepend-5 {
	padding-left:400px;
}
.prepend-6 {
	padding-left:480px;
}
.prepend-7 {
	padding-left:560px;
}
.prepend-8 {
	padding-left:640px;
}
.prepend-9 {
	padding-left:720px;
}
.prepend-10 {
	padding-left:800px;
}
.prepend-11 {
	padding-left:880px;
}
div.border {
	padding-right:9px;
	margin-right:10px;
	border-right:1px solid #eee;
}
div.colborder {
	padding-right:49px;
	margin-right:50px;
	border-right:1px solid #eee;
}
.pull-1 {
	margin-left:-80px;
}
.pull-2 {
	margin-left:-160px;
}
.pull-3 {
	margin-left:-240px;
}
.pull-4 {
	margin-left:-320px;
}
.pull-5 {
	margin-left:-400px;
}
.pull-6 {
	margin-left:-480px;
}
.pull-7 {
	margin-left:-560px;
}
.pull-8 {
	margin-left:-640px;
}
.pull-9 {
	margin-left:-720px;
}
.pull-10 {
	margin-left:-800px;
}
.pull-11 {
	margin-left:-880px;
}
.pull-12 {
	margin-left:-960px;
}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
	float:left;
	position:relative;
}
.push-1 {
	margin:0 -80px 1.5em 80px;
}
.push-2 {
	margin:0 -160px 1.5em 160px;
}
.push-3 {
	margin:0 -240px 1.5em 240px;
}
.push-4 {
	margin:0 -320px 1.5em 320px;
}
.push-5 {
	margin:0 -400px 1.5em 400px;
}
.push-6 {
	margin:0 -480px 1.5em 480px;
}
.push-7 {
	margin:0 -560px 1.5em 560px;
}
.push-8 {
	margin:0 -640px 1.5em 640px;
}
.push-9 {
	margin:0 -720px 1.5em 720px;
}
.push-10 {
	margin:0 -800px 1.5em 800px;
}
.push-11 {
	margin:0 -880px 1.5em 880px;
}
.push-12 {
	margin:0 -960px 1.5em 960px;
}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
	float:right;
	position:relative;
}
.prepend-top {
	margin-top:1.5em;
}
.append-bottom {
	margin-bottom:1.5em;
}
.box {
	padding:1.2em 1.2em .5em 1.2em;
	background:#ebebeb;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	border: 1px solid #c6c6c6;
	text-shadow: 1px 1px 1px #fff;
	color: #444444;
	text-align: justify
}
hr {
	background:#ddd;
	color:#ddd;
	clear:both;
	float:none;
	width:100%;
	height:1px;
	margin:0 0 1.45em;
	border:none;
}
hr.space {
	background:#fff;
	color:#fff;
}
.clearfix:after, .container:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}
.clearfix, .container {
	display:block;
}
.clear {
	clear:both;
}
label {
	font-weight:bold;
}
fieldset {
	padding:1.4em;
	margin:0 0 1.5em 0;
	border:1px solid #ccc;
}
legend {
	font-weight:bold;
	font-size:1.2em;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
	background-color:#fff;
	border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
	border-color:#666;
}
input[type=text], input[type=password], input.text, input.title, textarea, select {
	margin:0.5em 0;
}
input.text, input.title {
	width:300px;
	padding:5px;
}
input.title {
	font-size:1.5em;
}
textarea {
	width:390px;
	height:250px;
	padding:5px;
}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {
	position:relative;
	top:.25em;
}
form.inline {
	line-height:3;
}
form.inline p {
	margin-bottom:0;
}
.error, .notice, .success {
	padding:.8em;
	margin-bottom:1em;
	border:1px solid #ddd;
	clear: both;
}
.error {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}
.notice {
	background: #f5f5f5 url(/images/static/clip.png) no-repeat 10px 50% ;
	color:#595959;
	border-color:#d9d9d9;
	text-shadow: 1px 1px #fff;
	padding:1.4em;
	text-align:center;
}
.success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}
.error a {
	color:#8a1f11;
}
.notice a {
	color:#514721;
}
.success a {
	color:#264409;
}


/*pricing*/
.plan{margin:10px 0;padding:10px;-webkit-font-smoothing:antialiased;border:1px solid transparent;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.plan p{margin:0;font-size:14px;}
.plans-row{margin-top:-10px;margin-left:-25px;width:945px;}
.plans-row .plan{float:left;margin-left:25px;width:268px;text-shadow:1px 1px 0 rgba(255,255,255,0.8);}
.plans-row .plan .rule{margin:0;width:100%;padding:0 10px;margin-left:-10px;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.6);}
.plans-row.foured{width:940px;margin-left:-20px;}
.plans-row.foured .plan{width:193px;margin-left:20px;}
.plans-row .plan .button.classy{display:block;margin:2px 0;text-align:center;}
.plan h3{margin:-5px 0 2px 0;font-size:24px;}
.plan .price{float:right;}
.plan .price .amount{color:#000;}
.plan .price .symbol{position:relative;top:-5px;font-size:16px;opacity:.7;}
.plan .price .duration{font-size:14px;opacity:.5;}
.plan ul.bigpoints{margin:12px 0;padding:7px 9px;font-weight:bold;font-size:13px;color:#000;background:rgba(255,255,255,0.5);border:1px solid rgba(0,0,0,0.2);border-right-color:rgba(0,0,0,0.1);border-bottom-color:rgba(0,0,0,0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.plan ul.bigpoints li{list-style-type:none;margin:0;}
.plan ul.smallpoints{margin:-10px 0 0 0;}
.plan ul.smallpoints li{list-style-type:none;padding:5px 0;opacity:.6;border-top:1px solid rgba(0,0,0,0.15);}
.plan ul.smallpoints li:first-child{border-top:none;}
.plan.hplan{margin:20px 0;height:40px;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#eeeeee');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fafafa),to(#eee));background:-moz-linear-gradient(270deg,#fafafa,#eee);border-color:#e1e1e1;}
.plan.final:hover{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.hplan .price{float:left;margin-right:12px;height:100%;padding:0 8px;font-weight:bold;background:#fff;border:1px solid #b6b69e;border-right-color:#e0dfcb;border-bottom-color:#f4f2d2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.hplan .price .symbol{position:relative;top:-14px;color:#666;font-size:20px;}
.hplan .price .amount{position:relative;top:-4px;font-size:34px;color:#000;}
.hplan .price .duration{position:relative;top:-4px;color:#999;font-size:16px;}
.hplan .button{margin:1px 0 0 0;float:right;}
.hplan h3{margin:1px 0 0 0;font-size:16px;color:#000;text-shadow:1px 1px 0 rgba(255,255,255,0.8);}
.final h3{font-weight:normal;}
.hplan p{color:#666;color:rgba(0,0,0,0.6);text-shadow:1px 1px 0 rgba(255,255,255,0.8);}
.hplan p strong{color:#000;}
.plan.personal h3{color:#1a526b;}
.plan.business,.plan.large.final,.plan.mega.final,.plan.giga.final{background:#d9eff6;background:-webkit-gradient(linear,0% 0,0% 100%,from(#eaf5fa),to(#c5e8f1));background:-moz-linear-gradient(-90deg,#eaf5fa,#c5e8f1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eaf5fa',endColorstr='#c5e8f1');border-color:#c4dce2;}
.plan.business.leftmost{background:-webkit-gradient(linear,25% 0,0% 100%,from(#eaf5fa),to(#c5e8f1));background:-moz-linear-gradient(-112deg,#eaf5fa,#c5e8f1);}
.plan.business.middle{background:-webkit-gradient(linear,25% 0,0% 100%,from(#eaf5fa),to(#c5e8f1));background:-moz-linear-gradient(-112deg,#eaf5fa,#c5e8f1);}
.plan.business.rightmost{background:-webkit-gradient(linear,25% 0,0% 100%,from(#eaf5fa),to(#c5e8f1));background:-moz-linear-gradient(-112deg,#eaf5fa,#c5e8f1);}
.plan.business h3{color:#1f5714;}
.plan.free{width:900px;background:#fbf9da;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fefef3',endColorstr='#fbf8d4');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fefef3),to(#fbf8d4));background:-moz-linear-gradient(270deg,#fefef3,#fbf8d4);border-color:#e7e4c2;}
.plan.free:hover{border-color:#d6d2ac;}
.free p{color:#4e4d29;}
ul.plans-features{margin:25px 0 25px -20px;font-size:14px;}
ul.plans-features li{list-style-type:none;display:inline-block;margin:0 0 0 20px;padding-left:20px;font-size:100%;font-weight:bold;color:#000;background:url(/images/static/check2.png) 0 50% no-repeat;}
ul.plans-features li.intro{font-weight:normal;color:#666;padding:0;background:transparent;}
button.classy,a.button.classy{height:34px;padding:0;position:relative;top:1px;margin-left:10px;font-family:helvetica,arial,freesans,clean,sans-serif;font-weight:bold;font-size:12px;color:#333;text-shadow:1px 1px 0 #fff;white-space:nowrap;border:none;overflow:visible;background:#ddd;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));background:-moz-linear-gradient(-90deg,#fff,#e1e1e1);border-bottom:1px solid #ebebeb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);box-shadow:0 1px 4px rgba(0,0,0,0.3);cursor:pointer;-webkit-font-smoothing:subpixel-antialiased!important;}
a.button.classy{display:inline-block;}
button.classy span,a.button.classy span{display:block;height:34px;padding:0 13px;line-height:36px;}


/*forms*/
/* Login Box Styles */
.gt-login-hd {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 161.6%;
	font-weight: bold;
	color: #0e2029;
}
.gt-login-box {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em 3em;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
}
.gt-login-box .gt-form .gt-form-text {
	font-size: 116%;
}
.gt-login-box .gt-remember-me {
	display: block;
	padding: 12px 0 0 0;
	font-size: 85%;
	font-weight: normal;
	color: #666666;
	float: left;
	display: inline;
}
.gt-forgot-password {
	font-size: 85%;
	clear: both;
	margin: 0;
	padding: 5px 0 0 0;
}

.signup-header{
	font-family: 'lucida grande',Verdana,sans-serif;
	color: #333;
	font-weight: normal;
	font-size: 1.4em;
	padding: 7px;
	text-align: center;
	width: 100%;
}

form input[type=text],
form input[type=password],
form textarea {
	border: 1px solid #ccc;
	background-color: #f4f7f8;
	padding: 5px 2px;
	font-size: 108%;
	width: 99%;
}

form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus {
	background-color: #fff;
}

form input[type=submit] {
	margin: 0 10px 0 0;
	float: left;
	display: inline;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: none;
	padding: 0;
	margin: 0;
	width: 126px;
	background: url(/images/gt/btn-gray-medium.png) no-repeat 0 0 transparent;	
}

.gt-table-buttons-inside input[type=submit]{
	float: right;;
}

form label {
	font-size: 100%;
	color: #365b6d;
	display: block;
	margin-bottom: 3px;
	font-weight: bold;
}

form option {
	font-size: 108%;
}

form label.note {
	color: #444;
	font-weight: normal;
	font-size: 10px;
}

label.choice {
	margin: 0 15px 0 0;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}


form input[type=radio],
form input[type=checkbox] {
	margin-right: 3px;
}

form input[type=select] {
	font-size: 12px;
	margin: 5px 5px 0 0;
	border: 1px solid #d2d2d2;
}

form input.short { width: 20%;}
form input.medium { width: 45%;}
form input.long { width:70%;}
form input.max { width: 95%;}

form .gt-content-box {
	padding: 15px 15px 5px 15px;
	margin-bottom: 40px;
	max-width: 800px;
}

form .gt-cancel {
	line-height: 37px;
	margin-bottom: 0;
	margin-left: 20px;
	float: left;
}



form p {
	margin-bottom: 10px;
	width: 80%;
}

.gt-login-box .errorExplanation h2{
	display:none;
}

.gt-login-box .errorExplanation ul li{
	color: #DF0000;
	font-weight: bold;
}

.gt-login-box .errorExplanation p {
		color: #DF0000;
		font-weight: bold;
		margin-top: 15px;
}

blockquote {
font-family: georgia, 'Times New Roman';
display: block;
padding: 0px 60px 40px 90px;
width: 300px;
/*margin:1.5em;*/
color:#666;
font-style:italic;
}

blockquote author{
	font-weight:bold;
	padding-left:20px;
}

blockquote author:before{
	content: "~";
}


blockquote:before, blockquote:after {
color: #69c;
display: block;
font-size: 700%;
width: 50px;
}
 
blockquote:before {
content: "\201C";
height: 30px;
margin-left: -0.55em;

}
blockquote:after {
content: '\201D';
height: 50px;
margin-top: -70px;
margin-left: 290px;
padding-right: 5px;
}

blockquote.middle{
	padding-left:320px;
	padding-bottom:70px;
}

div.paint {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:transparent;
	background-image:url("/images/static/paint_blue.png");
	background-position:0 0;
	background-repeat:no-repeat;
	float:left;
	height:91px;
	margin-bottom:0;
	margin-left:200px;
	margin-right:0;
	margin-top:0;
	text-align:center;
	width:600px;
}

div.paint p{
	color:#777;
	font-size:22px;
	font-style:italic;
	line-height:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	padding-top:10px;
	font-family: georgia, times, "times new roman";
}

div.paint p a{
	color:#fff;
}

.span-6 h2{
	text-align:center;
}