*.swo
*.swp
.DS_Store
.bundle
.redcar/
test_out.png
/binstubs
/config/additional_environment.rb
/config/email.yml
/config/local_env.rb
/coverage
/log/*.log
/nbproject
/public/plugin_assets
/tmp
config/database.yml
serverlog
.c9/
*debuglog.txt
