/log/*.log
/config/additional_environment.rb
/config/email.yml
/config/initializers/session_store.rb
/coverage
/public/plugin_assets
/tmp
/nbproject
serverlog
.DS_Store
*.swp
*.swo
.redcar/
.bundle
/binstubs
