/log/*.log
/config/additional_environment.rb
/config/initializers/session_store.rb
/config/local_env.rb
/coverage
/public/plugin_assets
/tmp
/nbproject
config/database.yml
serverlog
.DS_Store
*.swp
*.swo
.redcar/
.bundle
/binstubs
