All votes are final
<%= @motion.title %>

<div id="motion_vote_agree" class="clickable action_button action_button_agree" onclick="' + onclick + '">
<a class="action_link clickable" onclick="">Agree</a>
</div>
