<%- 
@pull_allowed =  User.current.allowed_to?(:pull_commitment, @project) #TODO: We're not using this
@push_allowed = @issue.push_allowed?(User.current)
 -%>

<%= render :partial => "commit_requests/show_link", :locals => {:issue => @issue, :user => User.current, :push_allowed => @push_allowed} %>

<h3><%= l(:label_commit_request_history) %></h3>
<div id="commit_request_list">
<%- active_requests(issue).each do |cr| -%>
<%= render :partial => "commit_requests/show", 
          :locals => {:issue => @issue, 
                      :push_allowed => @push_allowed,
                      :cr => cr
                      } %> 
<%- end -%>
</div>

