<%- 
@pull_allowed =  User.current.allowed_to?(:pull_commitment, @project) #TODO: We're not using this
@push_allowed =  User.current.allowed_to?(:push_commitment, @project)
 -%>

<%= render :partial => "commit_requests/show_link", :locals => {:issue => @issue, :user => User.current, :push_allowed => @push_allowed} %>

<h3><%= l(:label_commit_request_history) %></h3>
<div id="commit_request_list">
<%- active_requests(issue).each do |cr| -%>
<%= render :partial => "commit_requests/show", 
          :locals => {:issue => issue, 
                      :current_user => User.current, 
                      :user_id => cr.user_id, 
                      :response => cr.response, 
                      :responder_id => cr.responder_id, 
                      :created_on => cr.created_on, 
                      :updated_on => cr.updated_on,
                      :commit_request => cr.id,
                      :push_allowed => @push_allowed,
                      :days => cr.days
                      } %> 
<%- end -%>
</div>

