<!-- We assume that the user has pull request commitment privileges to enter here.  -->
<!-- push_allowed local variable passed in, tells us wether or not they have push privileges -->

<div id="commit_request_actions">
<%= pull_link(user,issue, push_allowed) %>

</div>
