<% if @concerned_user_list.length > 0 %>

<p id="select_concerned_user">
  <%= :Regarding %><br />
  <%= collection_select(:motion, :concerned_user_id, @concerned_user_list, :user_id, :name, :prompt => l(:label_select)) %>
</p>
<% else %>

<% case @variation
  when Motion::VARIATION_NEW_MEMBER
    %>You have no contributors to nominate for membership.<%
  when Motion::VARIATION_NEW_CORE
    %>You have no existing members to nominate to the core team.<%
  when Motion::VARIATION_FIRE_MEMBER
    %>You have no existing members to remove.<%
  when Motion::VARIATION_FIRE_CORE
    %>You have no existing core members to remove.<%
  end
%>
 <br><a href="http://help.bettermeans.com/membership" target="blank">Click here</a> to learn more about how membership rules work.
 <br>
<% end %>
