<% watched_issues = Issue.visible.find(:all, 
                               :include => [:project, :tracker, :watchers],
                               # :limit => 10, 
                               :conditions => ["#{Watcher.table_name}.user_id = ?", user.id],
                               :order => "#{Issue.table_name}.updated_at DESC") %>
<% unless watched_issues.length == 0  %>
<h2 class="gt-table-head"><%=l(:label_watched_issues)%> (<%= Issue.visible.count(:include => :watchers,
                               												 									:conditions => ["#{Watcher.table_name}.user_id = ?", user.id]) %>)
</h2>
<div class="gt-content-box">

  <%= render :partial => 'issues/list_very_simple', :locals => { :issues => watched_issues } %>
</div>

<% end %>



















<%# if watched_issues.length > 0 %>
<!-- <p class="small"><%#= link_to l(:label_issue_view_all), :controller => 'issues',
                                                       :action => 'index',
                                                       :set_filter => 1,
                                                       :watcher_id => 'me',
                                                       :sort => 'updated_at:desc' %></p> -->
<%# end %>
