<% unless watched_issues.length == 0  %>
  <%= render :partial => 'issues/list_very_simple', :locals => { :issues => watched_issues } %>
<% end %>



















<%# if watched_issues.length > 0 %>
<!-- <p class="small"><%#= link_to l(:label_issue_view_all), :controller => 'issues',
                                                       :action => 'index',
                                                       :set_filter => 1,
                                                       :watcher_id => 'me',
                                                       :sort => 'updated_at:desc' %></p> -->
<%# end %>
