<% unless news.nil? || news.length == 0 %>
<h2 class="gt-table-head"><%=l(:label_news_latest)%></h2>

<div class="gt-content-box padded">

<%= render :partial => 'news/news', :collection => news %>
                                     
</div>
<% end %>