table, tr, td {
border-collapse:collapse;
margin:0px;
padding:0px;
}

table td {
padding:0px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;
/*overflow: hidden;*/
}

/*html>body #content { min-height: 200px; overflow: auto; height: 600px; } */

html > body #content {
	min-height: 200px;
	overflow-y: hidden;
	overflow-x: visible;
}

body  {
	overflow: hidden;
}

#main {
	font-size:1em;
	line-height:20px;
	margin:2px 0px 0px 0px;
	overflow: hidden;
}

.panel {
	padding: 6px 7px;
	margin: 0p;
	border:medium none;
	min-width:225px;
	max-width:800px;
	vertical-align:top;
}


.panelTitle {
font-size:1.1em;
line-height:22px;
vertical-aling:center;
}

.list {
	background-color:#B5BDC1;
	border-color:-moz-use-text-color #6E6E6E #6E6E6E;
	border-style:none solid solid;
	border-width:medium 1px 1px;
	min-height:225px;
	height:100%;
}

.items {
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
	color:#000000;
}

.layout {
border-collapse:separate;
border-spacing:16px 0;
}

.panelHeader {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_header_bg.png) repeat-x scroll center top;
	color:#333333;
	overflow:hidden;
}

.panelHeaderLeft {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_header.png) no-repeat scroll left top;
	float:left;
}

.panelHeaderRight {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_header.png) no-repeat scroll right top;
	float:right;
}

.panelHeaderLeft, .panelHeaderRight {
	width:6px;
}

.panelHeader, .panelHeaderLeft, .panelHeaderRight {
	height:1.85em;
}


/*Content*/

/*#content a.panelLink {
	color:#333333;
	vertical-align:middle;
}

#content a, #content a:visited, #content a:hover {
	color:#0957A4;
	font-weight:normal;
	text-decoration:none;
	min-height:300px;
}*/

#content {
	font-family:Arial,Verdana,sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 6px 10px 0px 6px;
	border: none;
/*	overflow-y: none;*/
}


#footer {
	background-color:#FFFFFF;
	border:0 none;
	clear:left;
	color:#666666;
	font-size:9px;
	margin:0px 0px 0px 0px;
	padding-bottom:3px;
	text-align:center;
}

.panelLink.closePanel {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/close_panel.png) no-repeat scroll 0 0px;
	height: 20px;
	margin-right: 0px;
	width: 14px;
}

.panelLink {
	float:right;
	font-size:0.8em;
	margin-right:8px;
	margin-top:2px;
}

.endOfList {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#B5BDC1 url(/images/dropzone_repeating_pattern.png) repeat-x scroll center top;
border-top:1px solid #6E6E6E;
color:#666666;
height:7em;
}

.hoverable:hover {
background-image:url(/images/hover_gradient.gif);
background-repeat:repeat-y;
}

.storyPreviewHeader {
	padding:1px 4px;
}

.storyPreviewButtons {
	float:right;
	padding-bottom:1px;
	padding-top:2px;
	padding-left:2px;
	text-align:right;
}

.storyPreviewHeader .icons, .storyPreviewHeader .storyPreviewText {
	padding-bottom:1px;
	padding-top:1px;
}

.storyPreviewText {
	padding-left:80px;
}

.storyPreviewInput {
	padding-left:20px;
}
.storyPreviewText, .storyLabels {
	-moz-user-select:none;
}


.underEdit .storyPreviewHeader {
	background-color:#FFEDA1;
}

.unstarted, .newStory {
	background-color:white;
}
.unestimatedText .storyPreviewHeader {
	font-style:italic;
}

.new {
	background-color:#F6EABB;
}

.deployed .storyPreviewHeader {
	font-weight:bold;
}

.committed {
	background-color:#D8EECE;
}

.open {
	background-color:white;
}

.canceled {
	background-color:#CCCCCC;
/*	background-color:#999999;	*/
}

.estimate {
	background-color:#F6EABB; /*e1d6ad D5CA9F FFF8DC;*/
}

.done, .finished, .delivered {
	background-color:#E7F3FA;
}


.stateChangeButton, .disabledStateChangeButton {
	margin-left:4px;
	vertical-align:bottom;
}
.disabledStateChangeButton {
	opacity:0.6;
}
.stateChangeButton {
	cursor:pointer;
	width:auto;
}

.toggleExpandedButton {
	cursor:pointer;
	float:left;
	margin-right:4px;
	padding-top:2px;
	vertical-align:middle;
}

.storyTypeIcon, .flyoverIcon, .storyPoints {
	vertical-align:middle;
	padding: 0px 0px 0px 2px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.bold {
	font-weight:bold;
}

.centeredTable {height: 300px; width: 100%;}
.centeredTable td {vertical-align:middle; width:100%; height:200px;}
.centeredTable tr {text-align:center; width:100%; height:100%;}

/*flyover*/
.storyDetails {padding: 6px 17px 7px; background-color: #fff8d7}
.storyDetails .elementResizerHandle {display: block}
.storyDetailsTable {padding-top: 10px; border-spacing: 0px 0; border-collapse: separate}
.storyDetailsTable td.letContentExpand {width: 1px}
.storyDetailsButton {padding: 0px;}
.storyDetailsActionButton {text-align: right; padding: 0px;}
.storyDetails .section {color:#333; font-weight:normal; font-size:0.95em; line-height: 14px; margin-top: 15px}
.storyDetails .section .header {font-weight:bold; color:#3F3D35; font-size: 115%; margin-bottom: 0}
.storyDetails .section textArea, .storyDetails .section input[type=text].tasksTextArea {width: 95%; overflow:auto; padding: 3px; font-weight:bold; margin-top: 5px; font-size: 104%; max-width:500px;}
.storyDetails .storyDescriptionTable textArea {margin-top: 3px}
.storyDetails .storyDescriptionTable {width: 100%}
.storyDetails .tasksTable {width: 100%}
.tasksTextArea {margin-top: 3px; width: 95%; overflow:auto; max-width:500px;}
.storyDetails .section textArea.textAreaFocus, .storyDetails input[type=text].textAreaFocus {font-weight:normal; width: 95%}
.storyDetails .section .italic {font-style:italic; color:#7C7B76; font-size:0.85em}
.storyDetails .section .specialhighlight {color: #333; font-weight:bold; font-size: 103%;}
.storyDetails .section input[type='submit'] {margin-top: 4px; display: block}
.storyDetails .section .storyDescriptionTable .descriptionHeaderEdit {font-size: 8pt; width:1px; padding-right: 4px}
.storyDetails .section .storyDescriptionTable .lastCell {padding-left: 4px}
.storyDetails .section .notesTable {width: 100% }
.storyDetails .section .notesTable .italic {margin-left:8px }
.storyDetails .section tr.noteTextRow + tr.noteInfoRow > td.noteInfo {padding-top:7px }
.storyDetails .section .notesTable tr:first-child td, .storyDetails .section .tasksTable tr:first-child td {padding-top: 4px; padding-bottom:4px;}
.storyDetails .section .tasksTable tr:hover td {background-color:#EBE29C}
.storyDetails .section .tasksTable td {padding:3px 5px 0px 0px}
.storyDetails .section .taskDescription input {width:100%}
.storyDetails .section .taskDescription {width:90%}
.storyDetails .section .taskDescription:hover {cursor: pointer}
.storyDetails .section .task_editing {margin-left: 8px}
.storyDetails .section .task_editing + .task_editing {margin-left: 5px}
.storyDetails .section .tasksTable .completed {color: #999}
.storyDetails .section table td.resource_details_cell {vertical-align: top; padding-left: 15px}
.storyDetails .section table td.imageCell {text-align: center; width: 75px}
.storyDetails .section .resource_image {cursor:pointer}
.storyDetails .section table span.resource_row_span{ padding-right: 0.5em}
.storyDetails .section .attachments a.cancelLink {padding-left: 1em}
.storyDetails .section .attachments .attachmentHint {font-size: 90%; color: #ff6600; font-weight: bold}
.storyDetails .section.storyIdTable {border-spacing: 0px 0; border-collapse: separate; width: 100%}
.storyDetails .section.storyIdTable .storyId {font-size: 110%; padding-left: 4px}
.help.flyover {background:url(/images/bg_gradient_comments_hover.gif) #FFF repeat-x scroll left top; border:1px solid #5593D8; -moz-border-radius: 8px; -webkit-border-radius: 8px; padding: 8px}
.help.flyover .storyTitle {font-size: 1em; font-weight: bold; margin: 3px 0}
.overlayContentWrapper.storyFlyover.flyover {padding: 0}
/*.storyFlyover.flyover {background: url('/images/flyover_gray_gradient.png') #FDFDFD top left repeat-x; padding: -15px;}*/
.storyFlyover.flyover .storyTitle {background: url('/images/flyover_blue_gradient.png') #FFF top left repeat-x; font-size: 1.15em; font-weight: bold; margin-top:0.3em; padding-bottom:0.75em; padding-left:0.5em; padding-top:0.2em;}
.storyFlyover.flyover .flyoverContent {font-size: 0.9em; background: #fff; padding: 0; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px}
.storyFlyover.flyover .flyoverContent.storyDetails .section {margin-bottom: 12px; margin-top: 0px}
.storyFlyover.flyover .flyoverContent.storyDetails .section + .section {margin-top: 13px; margin-bottom: 4px}
.storyFlyover.flyover .flyoverContent.storyDetails .section .header{ background: url('/images/flyover_blue_gradient.png') #FFF top left repeat-x; padding-left: 1em; line-height: 1.7em; font-size: 106%; color: #333; font-weight: bold; letter-spacing: 0.01em; margin-bottom:5px}
.storyFlyover.flyover .storyDetails .section .notesTable tr:first-child td, .storyFlyover.flyover .storyDetails .section .tasksTable tr:first-child td {padding-top: auto}
.storyFlyover.flyover .flyoverContent.storyDetails table, .storyFlyover.flyover .flyoverContent.storyDetails .descriptionText {margin: 0 1.9em 0 1.9em}
.storyFlyover.flyover .flyoverContent.storyDetails .tasksTable td {width: auto; padding: 2px 0px}
.storyFlyover.flyover .flyoverContent.storyDetails .tasksTable td.taskPosition {width: 4%}
.storyFlyover.flyover .flyoverContent.storyDetails .tasksTable tr:hover td {background-color: inherit}
.storyFlyover.flyover .flyoverContent.storyDetails .tasksTable .taskDescription:hover {cursor: auto}
.storyFlyover.flyover .flyoverContent.storyDetails .section table td.resource_details_cell {padding-top: 8px}
.storyFlyover.flyover .storyId, .storyFlyover.flyover .metaInfo {color:#888888; font-size:0.85em;}
.storyFlyover.flyover .storyId {font-weight: normal; margin-right: 12px}
.storyFlyover.flyover .metaInfo {margin: -0.6em 1.1em 0.5em; padding:2px;}
.storyFlyover.flyover .metaInfo .infoSection {color: #666666; font-weight: bold}
.storyFlyover.flyover .metaInfo .infoSection img {display: block; padding-top: 1px; padding-right: 3px}
.storyFlyover.flyover .metaInfo .infoSection img.estimateIcon {margin-top: 4px; margin-right: 3px}
.storyFlyover.flyover .metaInfo .infoSection .text {vertical-align: middle}
.storyFlyover.flyover .metaInfo .infoSection + .infoSection {margin-right: 6px}
.storyFlyover.flyover .flyoverContent.storyDetails .section .notesTable {width: auto}

/*.noteText {line-height: 11px;}*/

.overlay {overflow: hidden; font-size: 0.9em;margin-left: -12px; margin-top: -12px;}
.overlayContentWrapper {padding: 0 1em}

.storyDetailsRow .fieldLabel {margin-left: 5px}
.storyDetailsDiv div {display: block; float: left}
.storyButtonsRow, .storyDetailsRow {clear: both; width: 400px}
.storyButtonsRow {margin-top: 10px; margin-bottom: 10px}
.storyButtonsRow div {margin-right: 10px}
.storyDeadlineField {font: normal 12px verdana, sans-serif; line-height: 20px}
.spacerCell {width:99%}
.emphasizedFieldLabel {display:inline;}
.fieldLabel {display:inline; color:gray}
.storyDetailsField, .storyDeadlineField, .storyDetailsTextField {width: 150px; margin-top: 1px; margin-bottom: 1px; margin-right: 8px;}
.storyDetailsTextField{ width: 146px}
.storyDetailsStoryLink {width: 95%; margin-top: 1px; margin-bottom: 1px; margin-right: 10px; padding: 5px}
.storyDetails .storyLabels {padding-left: 5px}
.dateChangeLink {margin-left: 3px}
.inlinePopup {background-color: #ffffff; border: green 2px solid; overflow: auto; width: 20em; margin: 5px; text-align: center; z-index: 3000}
.stateChangeButton, .disabledStateChangeButton {margin-left: 4px; vertical-align: bottom}
.disabledStateChangeButton {opacity: 0.6; -moz-opacity: 0.6; filter: alpha(opacity=60)}
.stateChangeButton {cursor: pointer; width: auto}
.estimateButton {border-bottom: 1px solid #888; margin-left: 4px; padding-bottom: 2px; vertical-align: bottom; cursor: pointer}
.toggleExpandedButton, .iterationHeaderToggleExpandedButton {vertical-align: middle; cursor: pointer; margin-right: 4px; padding-top: 2px; float: left}
.iterationHeaderToggleExpandedButton {display: inline; width:11px; height:16px}
.iterationHeaderInfo {margin-left: 19px}

.iterationHeader {
background:url("/images/bg_iteration.png") repeat-x scroll center top #747474;
color:white;
cursor:default;
padding-left:0;
padding-right:0;
}
.iterationHeader a.date_label {
color:#FFFFFF !important;
cursor:pointer;
}
.iterationHeader a.date_label.overridden {
color:#FFCC44 !important;
}
.iterationHeader a.date_label:hover {
text-decoration:underline !important;
}
.iterationHeaderInfo {
-moz-user-select:none;
}


.lastCell {width:95%}
.item {border-top: 1px solid #6E6E6E}
.item.proxy {font-size: 0.8em}
.items, .search {height: 100%; overflow-y: auto; overflow-x: hidden; position: relative}
.no_xscroll {overflow-x: hidden; padding-bottom: 15px}
.no_yscroll {overflow-y: hidden; padding-right: 15px}
.helpIcon {padding: 2px;}
.titleInputField {width: 94%; font-size: 11pt; max-width:480px;}



/*Dashboard*/

/*#loading, #fancy-loading{
	padding-left: 26px;
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
	font-style: italic;
}
*/

.updating {
	padding-left: 17px;
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
}

.dashboard-button{
	float: left;
	margin-left: 3px;
}

.watermark{
	color: #7C7B76;
	font-style: italic;
	font-family: 'Lucida Grande';
}

.dice{
	padding-right: 2px;	
	cursor: pointer;
}

/*Buttons*/

.pri_button{
	width:13px;
	height:21px;
	text-align:center;
	float:right;
	font-weight: bold;
/*	color: white;*/
	padding-left:12px;
	vertical-align:middle;
}

.pri_button_action{
	padding-left:20px;
}

.pri_button_up{
	background: url(/images/up_arrow.png) no-repeat;
	
}

.pri_button_down{
	background: url(/images/down_arrow.png) no-repeat;
}

.pri_button_neutral{
	background: url(/images/neutral_arrow.png) no-repeat;
}

.pri_button_none{
	background: url(/images/none_arrow.png) no-repeat;
}

.action_button_start{
	background: url(/images/bb_grey.png) no-repeat; 
}

.action_button_finish{
	background: url(/images/bb_brown.png) no-repeat; 
}

.action_button_join{
	background: url(/images/bb_brown.png) no-repeat; 
}

.action_button_accept{
	background: url(/images/bb_green.png) no-repeat; 
}

.action_button_reject{
	background: url(/images/bb_red.png) no-repeat; 
}

.action_button_restart{
	background: url(/images/bb_purple.png) no-repeat; 
}

.action_button_estimate{
	background: url(/images/bb_blue.png) no-repeat; 
}

.action_button_agree{
	background: url(/images/bb_green.png) no-repeat; 
}

.action_button_against{
	background: url(/images/bb_red.png) no-repeat; 
}

.action_button_release{
	background: url(/images/bb_sky.png) no-repeat; 
}

.action_button_leave{
	background: url(/images/bb_sky.png) no-repeat; 
}

.action_button_cancel{
	background: url(/images/bb_ocean.png) no-repeat; 
}

.action_button_tally{
	font-weight:bold;
	background: url(/images/bb_blank.png) no-repeat; 
	
}

.action_button_retro{
	background: url(/images/bb_purple.png) no-repeat; 
}


.action_button_accepted{
	font-weight:bold;	
}



.action_button a, .action_button a:hover, .action_button a:visited {
	font-size: 13px;
	font-weight:bold;
	color: #ffffff;
}

.action_button a:hover {
	text-decoration:underline;
}

.searchField  {
float:right;
margin-right:23px;
margin-top:2px;
}

.searchField input {
	padding: 0px;
}

.searchField img {
	height:1.5em;
}

.searchField td.field {
	background: url(/images/search_middle.png) repeat-x scroll center top transparent;
}

.searchField #searchString {
border:0 none;
}

.searchField td {
vertical-align:top;
}

.notice {
background-color: crimson;	
}

.notice .iterationHeader {
background:none;
color:white;
cursor:default;
padding-left:0;
padding-right:0;
}

.filter-search{
margin-right:58px;
float:right;
font-size: 0.8em;
}

.fast-search{
margin-right:5px;
float:right;
font-size: 0.8em;
}

.filtered-message{
text-align:center;
width:100%;
align:center;
}