#main-menu { margin: 0 24px; width: 100%;}

html {
	background-color: #fff;
}


table, tr, td {
border-collapse:collapse;
margin:0px;
padding:0px;
}

table td {
padding:0px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin:0;
padding:0;
/*overflow: hidden;*/
}

/*html>body #content { min-height: 200px; overflow: auto; height: 600px; } */

/*html > body #content {
	min-height: 200px;
	overflow-y: hidden;
	overflow-x: visible;
}

body  {
	overflow: hidden;
}

#main {
	font-size:1em;
	line-height:20px;
	margin:0px 0px 0px 0px;
	max-width: 9999999px;
	padding-top: 0px;
	width:100%;
}
*/
#main_table{
	margin-top: 13px;
	float: left;
}

#panels {
	background-color: #fff;
	margin-top: -5px;
}

.panel {
	padding: 0px 7px;
	margin: 0px;
	border:medium none;
	min-width:225px;
	max-width:800px;
	vertical-align:top;
}


.panelTitle {
font-size:1.1em;
line-height:22px;
vertical-aling:center;
}

.list {
	background-color:#e1eaee;
	border-color:-moz-use-text-color #6E6E6E #6E6E6E;
	border-style:none solid solid;
	border-width:medium 1px 1px;
	min-height:100px;
	height:100%;
}

.items {
	height:100%;
/*	overflow-x:hidden;
	overflow-y:auto;
*/	position:relative;
	color:#000000;
}

.help_question_mark{
 	cursor:pointer;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-top: 2px;
}


.layout {
border-collapse:separate;
border-spacing:16px 0;
}

.panelHeader {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_head_bg.png) repeat-x scroll center top;
	color:#eee;
	overflow:hidden;
}

.panelHeaderLeft {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_head.png) no-repeat scroll left top;
	float:left;
}

.panelHeaderRight {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/panel_head.png) no-repeat scroll right top;
	float:right;
}

.panelHeaderLeft, .panelHeaderRight {
	width:5px;
}

.panelHeader, .panelHeaderLeft, .panelHeaderRight {
	height:1.85em;
}


/*Content*/

/*#content a.panelLink {
	color:#333333;
	vertical-align:middle;
}

#content a, #content a:visited, #content a:hover {
	color:#0957A4;
	font-weight:normal;
	text-decoration:none;
	min-height:300px;
}*/

/*#content {
	font-family:Arial,Verdana,sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 6px 10px 0px 6px;
	border: none;
}
*/

#footer {
	background-color:#FFFFFF;
	border:0 none;
	clear:left;
	color:#666666;
	font-size:9px;
	margin:0px 0px 0px 0px;
	padding-bottom:3px;
	text-align:center;
	padding-top:0px;
}

.panelLink.closePanelLoading {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/ajax-loader.gif) no-repeat scroll 0 0px;
	height: 20px;
	margin-right: 0px;
	width: 14px;
}

.panelLink.closePanel {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/images/close_panel.png) no-repeat scroll 0 0px;
	height: 20px;
	margin-right: 0px;
	margin-top: 5px;
	width: 14px;
}

.panelLink {
	float:right;
	font-size:0.8em;
	margin-right:8px;
	margin-top:2px;
}

.endOfList {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#B5BDC1 url(/images/dropzone_repeating_pattern.png) repeat-x scroll center top;*/
/*background: url(/images/drop_repeat_blue.png) repeat-x scroll center top;*/
background: url(/images/dropzone_repeating_pattern.png) repeat-x scroll center top;
border-top:1px solid #6E6E6E;
color:#666666;
height:7em;
padding-top:0px;
}

.hoverable:hover {
background-image:url(/images/hover_gradient.gif);
background-repeat:repeat-y;
}


.new {
	background-color:#fff;
}

.deployed .itemCollapsedHeader {
	font-weight:bold;
}

.committed {
	background-color:#fff;	
/*	background-color:#EFEFEF;*/
	/*background-color:#D8EECE;*/
}

.open {
	background-color:#fff;
/*	background-color:#eee;*/
/*	background-color: #e2eaee;*/
/*	background-color:#F6EABB;*/
}

.canceled {
	background-color:#fff;
/*	background-color:#999999;	*/
}

.estimate {
	background-color:#F6EABB; /*e1d6ad D5CA9F FFF8DC;*/
}

.accepted{
	background-color:#ccc;
}

.done, .finished, .delivered {
	background-color:#ccc;
/*	background-color:#e2eaee;*/
/*	background-color:#E7F3FA;*/
}


.stateChangeButton, .disabledStateChangeButton {
	margin-left:4px;
	vertical-align:bottom;
}
.disabledStateChangeButton {
	opacity:0.6;
}
.stateChangeButton {
	cursor:pointer;
	width:auto;
}

.toggleExpandedButton {
	cursor:pointer;
	float:left;
	margin-right:4px;
	padding-top:2px;
	vertical-align:middle;
}

.storyTypeIcon, .flyoverIcon, .storyPoints {
	vertical-align:middle;
	padding: 0px 0px 0px 2px;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

.bold {
	font-weight:bold;
}

.centeredTable {height: 300px; width: 100%;}
.centeredTable td {vertical-align:middle; width:100%; height:200px;}
.centeredTable tr {text-align:center; width:100%; height:100%;}




/*Dashboard*/

/*#loading, #fancy-loading{
	padding-left: 26px;
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
	font-style: italic;
}
*/


.dashboard-button{
	float: left;
	margin-left: 3px;
	margin-top: 9px;
	font-weight: bold;
}

.dashboard-button-panel{
	float: right;
	margin-left: 2px;
	margin-top: 0px;
	font-weight: normal;
}


.watermark{
	color: #7C7B76;
	font-style: italic;
	font-family: 'Lucida Grande';
}

.dice{
	padding-right: 2px;	
	cursor: pointer;
}


.searchField  {
float:right;
margin-right:23px;
margin-top:2px;
}

.searchField input {
	padding: 0px;
}

.searchField img {
	height:1.5em;
}

.searchField td.field {
	background: url(/images/search_middle.png) repeat-x scroll center top transparent;
}

.searchField #searchString {
border:0 none;
}

.searchField td {
vertical-align:top;
}

.panel_notice {
background-color: crimson;	
}

.panel_notice .gt-Iih {
background:none;
color:white;
cursor:default;
padding-left:0;
padding-right:0;
}

/*.filter-search {
float:right;
font-size: 0.8em;
}
*/
/*.fast-search {
margin-right:5px;
float:right;
font-size: 0.8em;
}
*/
.filtered-message {
/*text-align:center;*/
width:100%;
/*align:center;*/
float:left;
}

#comment_prompt {
	width:320px;
}

.comment_prompt_text {
	width:280px;
}

/***** Ajax indicator ******/
#ajax-indicator {
position: absolute; /* fixed not supported by IE */
background-image: url(/images/ajax-loader.gif);
/*background-image: url(/images/loading.gif);*/
background-repeat: no-repeat;
background-color: transparent;
border: 0px;
top:0;
left:0;
padding:1px;
z-index:100;
height:16px;
width:16px;
filter:alpha(opacity=100);
opacity: 1;
}

html>body #ajax-indicator { position: fixed; }

#ajax-indicator span {
	display:none;
}

/********** Overriding base ************/
.gt-bd { padding: 0px;}

/******** Overriding buttons ************/
form input[type=submit] {
	float: none;
	display: inline;
	height: auto;
	line-height: normal;
	font-weight: normal;
	color: #000;
	text-decoration: none!important;
	font-size: normal;
	border: normal;
	padding: 0;
	margin: 0;
	width: auto;
	background-image: none;
	border: 1px solid #006; 	
	border-color: #FFFFFF #666666 #666666 #FFFFFF;
/*	background-color: #ECE9D8; */
	background-color: #fff; 
	border-style: solid;
}

input[type=submit] {
	border: 1px solid #006;
	border-color: #FFFFFF #666666 #666666 #FFFFFF;
	background-color: #ECE9D8 border-style: solid;
}

/*form input[type=submit]{
	background: none; border: none; margin: 0; padding: 0; font-size: 0; line-height: 0; width: auto; overflow: visible;
}

button { background: none; border: none; margin: 0; padding: 0; font-size: 0; line-height: 0; width: auto; overflow: visible; }
*/

table.dash_key{
	
}
table.dash_key tr{
	vertical-align:top;
}
table.dash_key tr td{
	line-height:2em;
	padding: 8px;
}

#loading_error {
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

a.dash-item-title, a.dash-item-title a:visited{
	float:left;
	padding-right:5px;
	color: #000!important;
}
