/* Rounded Corner Styles for Safari/FF */
/* 
	This file allows Safari/FF to support rounded corners. If you need rounded corner support in other browsers, please contact us at gooeytemplates.com.
*/
.gt-sidebar-nav, .gt-sidebar-box, .gt-sidebar-list-content, .gt-footer, .gt-login-box, .gt-content-box {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}