<!-- Notification partial for a commit request offer -->
<div class="Notification Notification-commit-request-offer" id="Notification_<%= notification_id %>">
This is a box that shows that someone has offered you ownership of an issue:
Issue details are is: 

<%= issue_subject %>

<br>

Notification ID:<%= notification_id.to_s %>

</div>