<% if Notification.unresponded? %>
<div id="notification">
<%=link_to pluralize(Notification.unresponded_count,l(:label_new_notification)), {:controller => 'notifications', :action => 'index'} %>
</div>
<% end %>