<h2><%=l(:label_notifications)%></h2>
<%#= link_to 'New notification', new_notification_path %>
<% @notifications.each do |@notification| %>
    <%= render :partial => @notification.variation, 
              :locals => @notification.params %>
<% end %>
<br />

