<% @page_header_name = @user.name %>
<div class="contextual">
<%= link_to(l(:button_edit), {:controller => 'users', :action => 'edit', :id => @user}, :class => 'icon icon-edit') if User.current.admin? %>
</div>

<div class="splitcontentleft">
  <h2 class="gt-table-head icon icon-activity">Recent Activity</h2>
  <div class="gt-content-box padded">
  <%= render :partial => "activity_streams/activity_stream_list", :locals => {
      :user_id => @user.id,
      :project_id => nil,
      :with_subprojects => nil,
      :limit => nil,
      :max_created_at => nil
      } %>
  </div>
</div>

<div class="splitcontentright">
  <%= render :partial => "reputation" %>
  <%= render :partial => "membership" %>
</div>

<% html_title @user.name %>
