<div class="clear last clearfix" id="footer">
  <div class="clear last" id="top-footer">
    <a href="#"><img class="footer-logo clear" src="/images/static/footer-logo.png" alt="" width="252" height="81"></a>
    <div class="span-3 copyright">
      <p>
      Portions of this content are ©2006–<%= Date.today.strftime("%Y") %> by BetterMeans.
      </p>
      <p>
        Help content available under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="new">CreativeCommons Attribution-Share Alike</a>
      </p><!-- <a href="privacy.html">Privacy Policy</a> | <a href="/contact.html"> Contact Us</a>  -->
    </div>
    <div class="span-3 footer-list">
      <h3>
        Quick Links
      </h3>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <!-- <li>
          <a href="/account/register">Sign up</a>
        </li> -->
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/front/why.html">Why</a>
        </li>
        <li>
          <a href="/front/how.html">How</a>
        </li>
        <li>
          <a href="/front/what.html">What</a>
        </li>
        <li>
          <a href="/front/pricing.html">Plans and Pricing</a>
        </li>
        <li>
          <a href="/front/privacy.html">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="span-3 footer-list">
      <h3>
        Company
      </h3>
      <ul>
        <li>
          <a href="http://bettermeans.org/front" target="_blank">BetterMeans.org</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?cat=3" target="_blank">Blog</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=318" target="_blank">Open Enterprise</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=34" target="_blank">Team</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=31" target="_blank">Mission</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=284" target="_blank">Contact Us</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=253" target="_blank">Join Us</a>
        </li><!-- <li><a href="/testimonials.html" target="_blank">Testimonials</a></li>
        <li><a href="/privacy.html" target="_blank">Privacy Policy</a></li> -->
      </ul>
    </div>
    <div class="span-3 last footer-list">
      <h3>
        Library
      </h3>
      <ul>
        <li>
          <a href="http://www.youtube.com/user/BetterMeans" target="_blank">Video</a>
        </li>
        <li>
          <a href="http://bettermeans.org/front/?page_id=306" target="_blank">Open Enterprise Manifesto</a>
        </li>
        <li>
          <a href="/front/open_enterprise_governance_model.html" target="_blank">Open Enterprise Governance Model</a>
        </li><!-- <li><a href="http://bettermeans.org/front/?page_id=" target="_blank"></a></li>
        <li><a href="http://bettermeans.org/front/?page_id=" target="_blank"></a></li> -->
        <li>
          <div>
            <br>
            <a href="http://facebook.com/bettermeans" rel="alternate" target="_blank"><img src="/images/static/i_facebook.png" alt="facebook" style="vertical-align:middle;border:0"></a> <a href="http://twitter.com/bettermeans" rel="alternate" target="_blank"><img src="/images/static/i_twitter.png" alt="facebook" style="vertical-align:middle;border:0"></a> <a href="http://www.linkedin.com/search?search=&amp;sortCriteria=R&amp;keepFacets=keepFacets&amp;company=BetterMeans&amp;currentCompany=co" rel="alternate" target="_blank"><img src="/images/static/i_linkedin.png" alt="facebook" style="vertical-align:middle;border:0"></a> <a href="http://feeds.feedburner.com/bettermeans" rel="alternate" type="application/rss+xml" target="_blank"><img src="/images/static/feed-icon32x32.png" alt="" style="vertical-align:middle;border:0"></a> <a href="mailto:team@bettermeans.org" rel="alternate" type="application/rss+xml"><img src="/images/static/email_32.png" alt="Get in touch" style="vertical-align:middle;border:0"></a>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- end top-footer -->
  <!-- <div class="clear last" id="bottom-footer">
      <div class="span-6 append-6 last menu-lite">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/library.html">Library</a>
          </li>
          <li>
            <a href="/tour.html">Tour</a>
          </li>
          <li>
              <a href="/contact.html">Contact Us</a>
            </li>
          </ul>
      </div>
    </div>-->
    <!-- end bottom-footer --> 
  <a href="#" id="toTop" name="toTop">^ Scroll to Top</a>
</div>
