<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="span-8 first inner-page-title">
          <h2 class="main-title-2">This is a little overview about us</h2>
          <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span> </div>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
        <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. <a href="#">Aenean imperdiet</a>. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. </p>
        <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. <a href="#">Vestibulum ante ipsum primis in faucibus orci luctus </a> et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut.</p>
        <img class="laptop" src="/images/static/laptop.png" alt="" width="314" height="185"/>
        <div class="product-quote">
          <h4>Beautiful, useful, gorgeous.</h4>
          <p>“Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
            Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
            Maecenas tempus.”</p>
        </div>
        <!-- /Product Quote -->
        <div class="notice">This is a great option to post notices to your users, is great for the important information.</div>
      </div>
      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary">
        <ul>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45"/> Overview <span class="meta"> <span class="sub-meta">See our main information</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> Websites <span class="meta"> <span class="sub-meta">See our sites too</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> Extend <span class="meta"> <span class="sub-meta">Our WordPress plugins</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> Email Marketing <span class="meta"> <span class="sub-meta">See our Themeforest themes</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> Analytics <span class="meta"> <span class="sub-meta">See our main information</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> ThemeForest <span class="meta"> <span class="sub-meta">Our templates</span> </span> </a> </li>
          <li> <a href="#"> <img src="/images/static/thumb1.png" alt="" width="45" height="45" /> Photography <span class="meta"> <span class="sub-meta">See our photoportfolio</span> </span> </a> </li>
        </ul>
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>
<script type="text/javascript">
      // Cufon.replace('h2');
</script>
