<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.example").fancybox({
				'titleShow'     : false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});
	</script>
<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="clear span-12">
        <div class="span-8 first inner-page-title">
          <h2 class="main-title-2">Get things done together, don't just doument</h2>
          <span>This is how we're going to help you do that</span> </div>
        <div class="clear"></div>
        <div class="span-12" id="gallery">
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Home Screen and Workstreams</h3>
              <p>The home screen of your project is the first page you will see. It shows an overview of your team’s work with:
              </p>
              <ul>
                <li>Lastest Activity </li>
                <li>Workstreams </li>
                <li>Lasteste News </li>
                <li>Team Members </li>
                <li>Quicklinks </li>
                <li>Work Breakdown </li>
              </ul>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <a class="example" HREF="/images/static/home.jpg"> <span class="dark-background"></span> <img src="/images/static/home_medium.png" alt="" width="460" height="247"/> </a> </div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Dashboard</h3>
              <p>The dashboard provides a full view of all the items in a workstream. 
              From the dashboard you can: 
              </p>
              <ul>
                <li>Propose new ideas </li>
                <li>Comment on other people's ideas </li>
                <li>Vote for or against ideas </li>
                <li>Prioritize important work </li>
                <li>Estimate complexity/cost </li>
                <li>Manage a Todo list for each item </li>
                <li>Start or join teams </li>
                <li>Report on finished items </li>
                <li>Accept or reject other's work </li>
              </ul>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <a class="example" HREF="/images/static/dashboard.jpg"> <span class="dark-background"></span> <img src="/images/static/dashboard_medium.png" alt="" width="460" height="247"/> </a> </div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Lightbox</h3>
              <p>The lightbox allows you to view all the specifics of an item without navigating away from the page you are on. <br>
              A lightbox opens from the activity page or the dashboard, allowing you to do everything that you do in the dashboard (listed above) but with more information.  
              </p>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <a class="example" HREF="/images/static/lightbox.jpg"> <span class="dark-background"></span> <img src="/images/static/lightbox_medium.png" alt="" width="460" height="247"/> </a> </div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Activity</h3>
              <p>The activity is a news feed of all of the activity for that workstream.<br>
              From the activity page you can
              </p>
              <ul>
                <li>See the latest buzz, comments, and discussions</li>
                <li>Comment on items</li>
                <li>Open any item in a lightbox and take action</li>
              </ul>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <a class="example" HREF="/images/static/activity.jpg"> <span class="dark-background"></span> <img src="/images/static/activity_medium.png" alt="" width="460" height="247"/> </a> </div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Governance and Membership</h3>
              <p>Our revolution of work is the DEMOCRACY that we offer in our platform. That means that everyone has a vote and every voice is represented in your truly collaborative work.
              </p>
              <p>No bosses, no jobs, just work</p>
              <p>It's really best explained in this video. We recommend you take the time to watch it</p>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
          <div class="gallery-content">
            <div class="span-5 gallery-left">
              <h3>Fair Compensation</h3>
              <p>We are offering a whole new compensation model, in which you get paid for the work you do and are evaluated by your peers.
              </p>
              <p>Here is how it works:</p>
              <ul>
                <li>Estimate the value of work items</li>
                <li>When you start an item, you know how much it's worth</li>
                <li>After a group of items are completed, a retrospective starts</li>
                <li><strong>In a retrospective, you enter</strong>
                  <ul>
                    <li>what % of the work you think you did</li>
                    <li>what % of the work you think others did</li>
                    <li>how confident you are of your esitmate</li>
                  </ul>
                <li>Everyone is compensate based on the average they recieved</li>
                <li>Develop a reputation of how accurately you assess</li>
              </ul>
              <p>So its actually fair. No one can park in a job and do nothing, and the people who work the hardest get paid the most – pretty awesome. 
              </p>
              <p>This is an <strong>optoin</strong> when you create a workstream – just select credits and you are in business. 
              </p>
              <a class="sign-up-floating" href="/front/pricing.html">Sign up</a> </div>
            <div class="viewport span-6"> <a class="example" HREF="/images/static/estimation.jpg"> <span class="dark-background"></span> <img src="/images/static/estimation_medium.png" alt="" width="460" height="247"/> </a> <br>
              </div>
            
            <div class="viewport span-6">   
              <a class="example" HREF="/images/static/retro.jpg"> <span class="dark-background"></span> <img src="/images/static/retro_medium.png" alt="" width="460" height="247"/> </a>
              </div>
          </div>
          <!--/Gallery Content-->
          <div class="hr"></div>
        </div>
        <!-- Gallery -->
      </div>
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>

<script type="text/javascript">
			// Cufon.replace('h1, h2,h3 ,h4 ,h5 ,h6');
</script>
<script type="text/javascript"> 
			$(document).ready(function() {
				$('.viewport').mouseenter(function(e) {
					$(this).children('a').children('img').animate({ height: '268', left: '-20', top: '-20', width: '480'}, 100);
					$(this).children('a').children('span').fadeIn(300);
				}).mouseleave(function(e) {
					$(this).children('a').children('img').animate({ height: '268', left: '-20', top: '-20', width: '480'}, 100);
					$(this).children('a').children('span').fadeOut(200);
				});
			});
    </script>
</body>
<!-- / page -->
</html>