<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.example").fancybox({
				'titleShow'     : false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});
	</script>
<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'features'} %>
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>Get things done together. Don't just document.</h1>
      <section class="span-12 left whitebox">
      	<section class="span-6 left colborder">
          <h2>Home Screen and Workstreams</h2>
          <p>The home screen of your project is the first page you will see. It shows an overview of your team’s work with:
          </p>
          <ul>
            <li>Lastest Activity </li>
            <li>Workstreams </li>
            <li>Lastest News </li>
            <li>Team Members </li>
            <li>Quicklinks </li>
            <li>Work Breakdown </li>
          </ul>
      	</section>
      	<section class="span-6 viewport left last">
<a class="example" HREF="/images/static/home.png"> <span class="dark-background"></span> <img src="/images/static/home_medium.png" alt="" width="460" height="247"/> </a>
      	</section>
      </section>
      </div>

      <div>
            <h1></h1>
            <section class="span-12 left whitebox">
            	<section class="span-6 left colborder">
                <h2>Dashboard</h2>
                <p>The dashboard provides a full view of all the items in a workstream. 
                From the dashboard you can: 
                </p>
                <ul>
                  <li>Propose new ideas </li>
                  <li>Comment on other people's ideas </li>
                  <li>Vote for or against ideas </li>
                  <li>Prioritize important work </li>
                  <li>Estimate complexity/cost </li>
                  <li>Manage a Todo list for each item </li>
                  <li>Start or join teams </li>
                  <li>Report on finished items </li>
                  <li>Accept or reject other's work </li>
                </ul>
            	</section>
            	<section class="span-6 viewport left last">
<a class="example" HREF="/images/static/dashboard.png"> <span class="dark-background"></span> <img src="/images/static/dashboard_medium.png" alt="" width="460" height="247"/> </a>
            	</section>
            </section>
      </div>

      <div>
            <h1></h1>
            <section class="span-12 left whitebox">
            	<section class="span-6 left colborder">
                <h2>Lightbox</h2>
                <p>The lightbox allows you to view all the specifics of an item without navigating away from the page you are on. <br>
                A lightbox opens from the activity page or the dashboard, allowing you to do everything that you do in the dashboard (listed above) but with more information.  
                </p>
            	</section>
            	<section class="span-6 viewport left last">
            <a class="example" HREF="/images/static/lightbox.png"> <span class="dark-background"></span> <img src="/images/static/lightbox_medium.png" alt="" width="460" height="247"/> </a>
            	</section>
            </section>
      </div>

      <div>
            <h1></h1>
            <section class="span-12 left whitebox">
	            <section class="span-6 left colborder">
                <h2>Activity</h2>
                <p>The activity is a news feed of all of the activity for that workstream.<br>
                From the activity page you can
                </p>
                <ul>
                  <li>See the latest buzz, comments, and discussions</li>
                  <li>Comment on items</li>
                  <li>Open any item in a lightbox and take action</li>
                </ul>            	</section>
            	<section class="span-6 viewport left last">
            	  <a class="example" HREF="/images/static/activity.png"> <span class="dark-background"></span> <img src="/images/static/activity_medium.png" alt="" width="460" height="247"/> </a>
            	</section>
            </section>
      </div>

      <div>
            <h1></h1>
            <section class="span-12 left whitebox">
            	<section class="span-6 left colborder">
                <h2>Governance and Membership</h2>
                <p>Our revolution of work is the DEMOCRACY that we offer in our platform. That means that everyone has a vote and every voice is represented in your truly collaborative work.
                </p>
                <p>No bosses, no jobs, just work</p>
                <p>It's really best explained in this video. We recommend you take the time to watch it</p>
            	</section>
            	<section class="span-6 viewport left last">
            	  <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
            	</section>
            </section>
      </div>

      <div>
            <div class="span-12 spacer">&nbsp;</div>
            <div class="span-12 spacer">&nbsp;</div>
            
            <h1>Fair Compensation. Say farewell to annual reviews.</h1>
            <section class="span-12 left whitebox">
            	<section class="span-6 left colborder">
                <h2>Item Estimation</h2>
                <p>We are offering a whole new compensation model, in which you get paid for the work you do and are evaluated by your peers.
                </p>
                <p>Here is how it works:</p>
                <ul>
                  <li>Estimate the value of work items</li>
                  <li>When you start an item, you know how much it's worth</li>
                  <li>After a group of items are completed, a retrospective starts</li>
                  <li><strong>In a retrospective, you enter</strong>
                    <ul>
                      <li>what % of the work you think you did</li>
                      <li>what % of the work you think others did</li>
                      <li>how confident you are of your esitmate</li>
                    </ul>
                  <li>Everyone is compensate based on the average they recieved</li>
                  <li>Develop a reputation of how accurately you assess</li>
                </ul>
                <p>So its actually fair. No one can park in a job and do nothing, and the people who work the hardest get paid the most – pretty awesome. 
                </p>
                <p>This is an <strong>option</strong> when you create a workstream – just select credits and you are in business. 
                </p>
            	</section>
            	<section class="span-6 viewport left last">
            <a class="example" HREF="/images/static/estimation.png"> <span class="dark-background"></span> <img src="/images/static/estimation_medium.png" alt="" width="460" height="247"/> </a><br>
            	</section>
            </section>
      </div>

      <div>
            <h1></h1>
            <section class="span-12 left whitebox">
              <section class="span-6 left colborder">
                <h2>Retrospectives</h2>
                <p>After a group of items are completed, a retrospective starts<br>Here is how it works:</p>
                <p>For each group of items, each person assesses:</p>
                <ul>
                      <li>what % of the work you think you did</li>
                      <li>what % of the work you think others did</li>
                      <li>how confident you are of your esitmate</li>
                </ul>
                
                <p>Everyone is compensated based on the average assessment they recieve from their peers. A reputation matrix tracks how accurately each person assesses themselves and others</p>
                <p>So its actually fair. No one can park in a job and do nothing, and the people who work the hardest get paid the most – pretty awesome. 
                </p>
                <p>This is an <strong>option</strong> when you create a workstream – just select credits and you are in business. 
                </p>
              </section>
              <section class="span-6 viewport left last">
                <a class="example" HREF="/images/static/retro.png"> <span class="dark-background"></span> <img src="/images/static/retro_medium.png" alt="" width="460" height="247"/>
              </section>
            </section>
      </div>

      <!-- <div>
            <h1></h1>
            <section class="span-12 left whitebox">
              <section class="span-6 left colborder">
              </section>
              <section class="span-6 viewport left last">
              </section>
            </section>
      </div> -->
      
            
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>

<script type="text/javascript">
			// Cufon.replace('h1, h2,h2 ,h4 ,h5 ,h6');
</script>
<script type="text/javascript"> 
			$(document).ready(function() {
				$('.viewport').mouseenter(function(e) {
					$(this).children('a').children('img').animate({ height: '268', left: '-20', top: '-20', width: '480'}, 100);
					$(this).children('a').children('span').fadeIn(300);
				}).mouseleave(function(e) {
					$(this).children('a').children('img').animate({ height: '268', left: '-20', top: '-20', width: '480'}, 100);
					$(this).children('a').children('span').fadeOut(200);
				});
			});
    </script>
</body>
<!-- / page -->
</html>