<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'how'} %>
   
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>how does an open enterprise work?</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>New Team Structure</h2>
                      <p>No more pyramids, job titles or direct reports. </p>
                      <p>Everyone is a member, and every member gets an equal binding vote. When people first join they are contributors. Votes are recorded, but are non-binding. This way, teams can get a sense of the crowd’s voice but ultimately the team members drive the direction of the project.</p>
                      <p>Contributors are nominated to be members, and are voted in by the core team. The core team is a subset of the members who can vote in new members.</p>
                      <p>Anyone can be nominated to any level in an open enterprise, and everyone is accountable to eachother. The result is <strong>a healthy and dynamic hierarchy replaces the rigid proscribed one.</strong></p>
        </span>
      	<span class="span-6 left last">
      	  <span class="viewport">
          <a id="videolink" href="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="open enterprise governance">
          <img src="/images/static/openenterprisegovernance.jpg" />
          </a>
          </span>
          <blockquote>You never change things by fighting the existing reality. To change something, build a new model that makes the existing model obsolete<author>Buckminster Fuller</author></blockquote>
        </span>
        
        
      </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <blockquote>Greater transparency is an unstoppable force… the Internet makes it far easier for firms to supply information, and harder for them to keep secrets. <!-- Firms now know that their internal e-mails may one day become public knowledge, for instance, and many big companies must co-exist with independent websites where employees can meet anonymously to air their grievances. --> With greater transparency will come greater accountability and better corporate behaviour. Rather than engage in futile resistance to it, firms should actively embrace transparency and rethink their values and generally get in better shape<author>Don Tapscott, The Naked Corporation</author></blockquote>
              </span>
              <span class="span-6 left last">
                <!-- <span class="viewport">
                  
                </span> -->
                <h2>Full Transparency</h2>
                            <p>Take away secrets, and different levels of access to information, and you take away two of the most common ways power is abused.</p>
                            <p>Clear, simple governance rules, keeps people and teams accountable to themselves and each other. All resulting in less internal politics, and abuse of power</p>
              </span>
            </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Distributed Leadership. Not Management</h2>
                            <p>Work is arranged in project workstreams. Members and contributors move freely from one project workstream to another. Choosing the work that has been collectively prioritized. Doing only what they are convinced needs doing.</p>
                            <p>Situational leadership emerges through influence, instead of pre-set management through coersion</p>
                            <p>No departments, ceos, or managers.</p><p> No committees, or predefined roles or areas of responsibility. No one is told what to do.</p>
              </span>
              <span class="span-6 left last">
                	  <span class="viewport">
                <a class="fancy_image" HREF="/images/static/mindmap.jpg" title="Open Enterprise Principles Mindmap"> <span class="dark-background"></span> <img src="/images/static/mindmap-medium.jpg" alt="" width="460" height="247"/> </a></span>
                <blockquote>This era doesn't call for better management. It calls for a renaissance of self-direction<author>Daniel Pink</author></blockquote>
              </span>
              
            </span>
      </div>
      <div class="paint">
        <p>
        take a look at our<br><a href="/front/pricing.html">plans and pricing</a>
        </p>
      </div>      
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <br><br><br>
                <blockquote>They must find it difficult, those who have taken authority as truth rather than truth as authority.<author>Massey Massey</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>Efficient &amp; Inclusive<br>Decision-Making</h2>
                            <p>Using a lazy-majority voting system, not everyone has to vote. And those who show up are the ones who influence what happens</p>
                            <p>Learn about the details in the <a href="/front/open_enterprise_governance_model.html" target="_blank">Open Enterprise Governance Model</a></p>
              </span>
            </span>
      </div>
      
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Contribution-Based Compensation</h2>
                            <p>The Open Enterprise model is a <strong>peer-managed, self-correcting, results-only work environment.</strong> No salaries, bonuses, annual-reviews, or time-tracking needed. Compensation is based on contribution, as assessed by peers.</p>
                            <p>Here is how it works:</p>
                              <p>After a group of work items is completed, a retrospective automatically starts. Each person who worked on this group of item assesses:</p>
                              <ul>
                                    <li>the percentage of the work they think they did</li>
                                    <li>the percentage of the work they think others did</li>
                                    <li>how confident they are of their esitmate</li>
                              </ul>

                              <p>Everyone is compensated based on the average assessment they recieve from their peers. A reputation matrix tracks how accurately each person assesses themselves and others over time.</p>
                              <p style="font-style:italic">Note: This is an optional module that can be toggled for any project workstream.</p>
                            </span>
                          	<span class="span-6 left last">
                          	  <span class="viewport">
                              <a class="fancy_image" HREF="/images/static/retro.png" title="Retrospective"> <span class="dark-background"></span> <img src="/images/static/retro_medium.png" alt="" width="460" height="247"/></a></span>  <br><br><br><br><blockquote>Heaven is purpose, principle, and people. Purgatory is paper and procedure. Hell is rules and regulations<author>Dee Hock, Founder and CEO of VISA</author></blockquote>

                            </span>
            </span>
      </div>
      
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <blockquote>In the age of hand-crafting, the dominant forms of organization were the all-powerful churches, kingdoms, and hand-craftsmen guilds. Just as the age of machine-crafting led to the emergence of today’s organizations, ending the dominance of guilds, kingdoms, and churches, so too will the age of mind-crafting give rise to new, more chaordic concepts of organization that will end the dominance of today’s organizational structures<br><author>Dee Hock, CEO and Founder of VISA</author></blockquote>
              </span>
              <span class="span-6 left last">
                <h2>Low Barrier to Joining</h2>
                            <p>No interviews, resumes, or references.</p>
                            <p>Transparency, public knowledge, and a set governance structure allow anyone who wants to get involved to do so.</p>
                            <p>Non-binding votes keep the integrity and direction of the organization. Public knowledge allows people to be onboarded in days, with minimal cost to existing members.</p>
                            <p>The semi-permeable membrane of the governance model makes it easy for folks to volunteer, and for an open enterprise to scale.</p>
              </span>
            </span>
      </div>
      
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Shared Values:<br>Purpose is Primary</h2>
                            <p>An Open Enterprise is a community that forms around a shared value and purpose. Agreement around a shared value or set of values is the fundamental cohesive force that binds the organization.</p><p><strong>Purpose is primary, goals secondary</strong> because as the organization moves towards a goal, new experiences may inform the group to change the goal. </p><p>The goals, therefore, must be allowed to evolve. Values change much much slower, so they become the guiding principles which determine when new goals need to be added added, and old ones altered or let go.</p>
              </span>
              <span class="span-6 left last">
                <h2>Order Derived from Cohesive Intent, Not Control.</h2>
                <p>Old ways of thought suggest that order only happens when one person is in control, or when an executive few make informed decisions for the entire group. This assumption ignores nature and countless situations in which order arrives out of chaos. </p>
                <p>By contrast, in an Open Enterprise, all actions arise organically and through self-motivation to further the shared values of the group. This principle is at the very heart of the Open Enterprise because self-driven action is far more powerful, efficient, and innovative than coerced action. It gives the Open Enterprise it’s sheer power to get 10 times the work done in half the time as a conventional organization.</p>
              </span>
            </span>
      </div>
      <div class="paint">
        <p>
        &nbsp; <br>checkout the <a href="/front/what.html">platform features</a>
        </p>
      </div>      
      <div id="pricing-col" class="span-12 clear">
        <h2>Frequently Asked Questions</h2>
        <div class="column span-5 left first">
          <h4>Can we still use salaries?</h4>
          <p>Absolutely. We love <a href="http://help.bettermeans.com/how-to/retrospectives">our retrospective system</a>, but understand that many people will prefer to use standard salary systems (or others) to manage compensation.</p>
          <p>The credits system is an optional module that you can turn on or off at will.</p>
          
          <h4>Is this for only volunteer-run projects?</h4>
          <p>Not at all. Our mission is help people earn right livelihood in the world.</p>
          <p>Having said that, our governance structures were heavily influenced by the open source world, and therefore work really well for volunteer run efforts.</p>
          <h4>Does everything have to be public?</h4>
          <p>Nope. We think fully public orgs are the way forward, but we understand the need for privacy. It is possible to run some (or all) of your projects as private workstreams.</p>
          <p>All members will still have access to these private project workstreams, but you can be selective about which contributors get access to them, and the general public will not be able to see them.</p>
          <h4>What kind of organization is this best for?</h4>
          <p>Social enterprises and movements. Open source software projects. Volunteer-based orgs. Content production. Knowledge-based collaboration. Event planning. And hopefully other applications that will surprise us!</p>
          
          
        </div>
        <div class="column span-5 left last">
          <h4>Is this a proven model?</h4>
          <p>Various aspects of the Open Enterprise Model have been used successfully by other organizations including Visa, Goretex, Apache Software, Wikipedia, Linux, Spain’s Mondragón Corporación Cooperativa and many others.</p><p> While such companies have pioneered these concepts with excellent results, BetterMeans is revolutionary in bringing these various techniques together in a single, cohesive model.</p>          
          <p>Leading business thinkers such as Gary Hamel and Margaret Wheately see the change in organizational design coming, and are advising companies today to embrace more self-organizing structures.</p>
          <p>The Open Enterprise model builds on their theories and research, and provides a new way for people to work together that governs all major aspects of managing a business, including capital allocation, strategic decision-making, compensation, and human resource management.</p>
          <p>We ourselves have been running as an Open Enterprise since 2009. You can <a href="http://secure.bettermeans.com/projects/bm">checkout our project page here</a></p>
          <h4>I have more questions...</h4>
          <p>Great! We love talking about this stuff. Get in touch at <a href="mailto:support@bettermeans.com">support@bettermeans.com</a></p>          
        </div>        
        <!-- <div class="column span-4 last">
          <h4>Lorem ipsum dolor sit amet</h4>
          <img src="/images/static/img-col-3.jpg" alt="" width="237" height="41" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div> -->
      </div>
      
      <div class="clear"></div>
      <div class="span-3">&nbsp;</div>
      <div class="span-6 last" style="align:center;"> <blockquote>Even though worker capacity and motivation are destroyed when leaders choose power over productivity, it appears that bosses would rather be in control than have the organization work well.<author>Margaret Wheatley</author></blockquote>
       </div>
       <div class="span-3">&nbsp;</div>
      

      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <h2></h2>
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 left last">
                <span class="viewport">
                  </span>
              </span>
            </span>
      </div> -->
            
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>
</body>
<!-- / page -->
</html>