<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.example").fancybox({
				'titleShow'     : false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});
	</script>
<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'how'} %>
   
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>how we can work differently</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>This is our story.</h2>
                      <p>we face complex and interconnected social problems.
                        a lot of us want to work toward solving them.
                        we are learning that these problems are interconnected, and complex.
                        we are also learning that they have to be solved from a mindset different than the mindset that created it </p>
                        
                        The significant problems we have cannot be solved at the same level of thinking with which we created them

        </span>
        <span class="span-6 viewport left last">
          <a id="videolink" href="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1&autoplay=1" target="blank" title="open enterprise governance">
          <img src="/images/static/openenterprisegovernance.jpg" />
          </a>
        </span>
        
        
      </span>
      </div>

      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 viewport left last">
              </span>
            </span>
      </div> -->
            
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>
</body>
<!-- / page -->
</html>