<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 first inner-page-title">
        <h2 class="main-title-2">Our great headquarters, come and see</h2>
        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span> </div>
      <div id="hq-main">
        <div class="span-6 first clear" id="hq-left-intro">
          <p class="strong">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
          <img src="/images/static/findus.png" alt="" /> </div>
        <div class="span-3 hq-info"> <img src="/images/static/hq-1.jpg" alt="Dummy Image" />
          <h3>Our Headplex</h3>
          <span>Meet our offices</span>
          <p>Lorem ipsum dolor sit amet dolor sit, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
        <div class="span-3 last hq-info"> <img src="/images/static/hq-2.jpg" alt="Dummy Image" />
          <h3>Magic HQ's</h3>
          <span>Meet our offices</span>
          <p>Lorem ipsum dolor sit amet dolor sit, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
        <div class="clear"></div>
        <hr />
        <div id="video-add">
          <div class="span-5 first clear">
            <h3>See our latest video</h3>
            <p><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</strong></p>
            <p> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
          </div>
          <div class="span-7 last video">
            <object width="530" height="285">
              <param name="allowfullscreen" value="true" />
              <param name="allowscriptaccess" value="always" />
              <param name="movie" VALUE="../../../vimeo.com/moogaloop.swf@clip_id=4740824&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" />
              <embed SRC="../../../vimeo.com/moogaloop.swf@clip_id=4740824&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="530" height="285"></embed>
            </object>
            <p><a HREF="../../../vimeo.com/4740824">Sci-Fi Bumber</a> from <a HREF="../../../vimeo.com/user1701783">Aaron Houston</a> on <a HREF="../../../vimeo.com/index.htm">Vimeo</a>.</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
