<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="banner">
      <div  class="span-6" id="description">
        <!-- <p>Collaborate on your projects.<br>Openly and Democratically.<br>Get things done.</p> -->
        <p>Open. Democratic.<br>Project management.<br>Get things done together</p>
        <a class="pricing-buttom" HREF="/front/pricing.html" title="Signup for free">Signup for free</a> <span>
         </div>
      <!-- end description -->
      <div class="span-5 last" id=""><br><br>
        <object width="300" height="250"><param name="movie" value="http://www.youtube.com/v/2pqlS0DMHNE&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/2pqlS0DMHNE&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="250"></embed></object>
        
      </div>
      <!-- end display -->
    </div>
    <!-- end banner -->
    <br><br><h2>&nbsp;<h2>
    <h3><br>    We're at a very early beta. 
    <a href="http://bettermeans.org/front/?page_id=408">If you want to be notified when we've properly launched please signup here</a></h3>
    <!-- end main -->
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->
<script type="text/javascript">
			// Cufon.replace('h1, h2, #main h3, h4');
		</script>
<script type="text/javascript">
            $(function() {
                $("#toTop").scrollToTop({speed:500,start:700});
            });
        </script>
