<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'home'} %>
      <div class="learnMore span-12"> 
        <!-- <h1 id="caption">open, decentralized tools<br>for social-benefit driven enterprises</h1> -->
        <!-- <h1 id="captio">tools for managing your social enterprise in an <br>open, democratic & decentralized way</h1>
        <h1 id="captio">tools for managing your social enterprise<br>open, democratic & decentralized</h1> -->
        <!-- <h1 id="captio">tools for running social enterprise in an<br>open, democratic & decentralized way</h1> -->
        <!-- <h1 id="captio">tools for running social enterprise<br>openly, democraticly & decentralized</h1> -->
        <!-- <h1 id="captio">run your social enterprise <br>openly, democraticaly, and decentralized</h1> -->
        <!-- <h1 id="captio">open, democratic and decentralized<br>social enterprise management</h1> -->
        <!-- <h1 id="captio">distributed, self-organizing, merit-based<br> social enterprise</h1> -->
        <h1 id="captio">open, democratic project management</h1>
        <!-- <div class="span-12">
          <h2 id="caption">to change our world, we must re-invent <br>how we work together.</h2>
        </div> -->
      </div>
    <!-- end banner -->
    <!-- end main -->
    <!-- end main -->
    <!-- <div class="paint">
      <p>&nbsp;<br>
      <a href="/front/why.html">why bettermeans?</a>
      </p>
    </div> -->
    <div class="clear span-12 last" id="main-inner" style="margin-top:0px">
      <div>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <br><br>
          <h2>
            Decide together.<br>
            Get things done.<br>
            No bosses needed.
          </h2>
          <br><br>
          <p>
            <strong>We need a new agreement of how we work together.</strong> How we make decisions. How we decide on who gets to work on what. And who gets paid what.
          </p>
          <p>
            Groups of people can work together intelligently, without getting bogged down in endless meetings, or slow decision making. No bossing needed.
          </p>
          <p>
            <strong>Open source software and wikipedia</strong>, are just two examples of large groups working together efficiently without fixed heirarchy.</p>
          <p> Bettermeans lets you <strong>use the same decision-making rules, and self-organizing principles behind open source</strong> to run your project.
          </p>
        </span>
        <span class="span-6 left last">
          <p>
            <span class="viewport"><a id="videolink" href="http://www.youtube.com/v/MAlnMWlvw9g&amp;autoplay=1&amp;fmt=6" target="blank" title="tale of two tales" name="videolink"><img src="/images/static/intro_video_image.png"></a> <!-- <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them. <author>~Albert Einstein</author></blockquote> --></span>
          </p>
        <blockquote>Better Means is truly a new way of working within a team, and organizing projects.<Br><br> It is a great way to promote collaborate, democratic decision making and cut out the traditional hierarchy of business.</blockquote>
          <a target="blank" href="http://thenextweb.com/apps/2010/11/04/try-this-better-means-a-democratic-open-approach-to-teamwork/"><img src="/images/static/thenextweb.png" height="50px" style="float:right;margin-right:90px;" /></a>
        </span>
      </span>
      </div>
      <div class="paint">
        <p>learn about <br><a href="/front/how.html">how an open enterprise works</a></p>
      </div>
      <!-- <div class="paint">
        <p>
        take a look at our<br><a href="/front/pricing.html">plans and pricing</a>
        </p>
      </div>-->
      
      
      <!--       <blockquote>For me, this is a familiar image – people in the organization ready and willing to do good work, wanting to contribute their ideas, ready to take responsibility, and leaders holding them back, insisting that they wait for decisions or instructions<author>Margarate J. Wheateley</author></blockquote>
            
            
            
            
            
            
            
            
            <blockquote>Vast white-collar bureaucracies exist everywhere, with mountains of procedures manuals depressing minds, avalanches of directives burying judgment, forests of reports obscuring perception, floods of studies inundating initiative, oceans of committees submerging responsibility and drowning decisions. You know what I mean. You have endlessly suffered through it and, worse yet, may be inflicting it on others. It has created a society of people alienated from their work and from the organizations in which they are enmeshed. Far too much ingenuity, effort, and intelligence go into circumventing the mindless, sticky web of rules and regulations by which people are needlessly bound<author>Dee Hock, Founder and CEO of VISA</author></blockquote>
            
            
            
            <blockquote>I believe that the capacity that any organisation needs is for leadership to appear anywhere it is needed, when it is needed<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>In these troubled, uncertain times, we don't need more command and control; we need better means to engage everyone's intelligence in solving challenges and crises as they arise<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>We have created trouble for ourselves in organizations by confusing control with order<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>Companies with their eye on their 'triple-bottom-line' outperform their less fastidious peers on the stock market<author>The Economist</author></blockquote>
            
            <blockquote>Companies that are breaking the mold are moving beyond corporate social responsibility to social innovation. These companies are the vanguard of the new paradigm. They view community needs as opportunities to develop ideas and demonstrate business technologies, to find and serve new markets, and to solve longstanding business problems<author>Rosabeth Moss Kanter, Harvard Business Review</author></blockquote> -->
      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 viewport left last">
              </span>
            </span>
      </div> -->
      
      
      <!-- <div class="clear span-12">
        <div class="span-12 first inner-page-title">
          <h2 class="main-title-2">Get things done together, don't just document</h2>
          </div>
        <div class="clear"></div>
        <! Gallery -->
      </div>
      <!-- end main-inner -->
    </div>
    
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->        

<!-- <script type="text/javascript">
// var captions = [
//    "Leadership. Not management.",
//    "Democratic and transparent project management.",
//    "Inclusive and efficient decision making.",
//    "Full transparancy.",
//    "Peer-assessed, contribution-based compensation."];
//  
// var imgIdx = 0;
// 
// function md(i, n) {
//  if (i < 0) i = n-1; else
//  if (i >= n) i = 0;
//  return (i);
// }
// 
// function slideShow(dir) {
//  var images = ["dashboard_front.png", "home_front.png", "motion_front.png", "activity_front.png", "retro_front.png"];
//  imgIdx = md(imgIdx + dir, images.length);
//  var prev = md(imgIdx - 1, images.length);
//  var next = md(imgIdx + 1, images.length);
//  $('#caption').html(captions[imgIdx]);
//  $('.screenshot img').attr('src', '/images/static/' + images[imgIdx]);
//  $('.fade-left').css('background-image', 'url(/images/static/' + images[prev] + ')');
//  $('.fade').css('background-image', 'url(/images/static/' + images[next] + ')');
// }
</script>
       -->
