<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'home'} %>
      <div class="learnMore span-12"> 
        <!-- <h1 id="caption">open, decentralized tools<br>for social-benefit driven enterprises</h1> -->
        <!-- <h1 id="captio">tools for managing your social enterprise in an <br>open, democratic & decentralized way</h1>
        <h1 id="captio">tools for managing your social enterprise<br>open, democratic & decentralized</h1> -->
        <!-- <h1 id="captio">tools for running social enterprise in an<br>open, democratic & decentralized way</h1> -->
        <!-- <h1 id="captio">tools for running social enterprise<br>openly, democraticly & decentralized</h1> -->
        <!-- <h1 id="captio">run your social enterprise <br>openly, democraticaly, and decentralized</h1> -->
        <!-- <h1 id="captio">open, democratic and decentralized<br>social enterprise management</h1> -->
        <!-- <h1 id="captio">distributed, self-organizing, merit-based<br> social enterprise</h1> -->
        <h1 id="captio">open, democratic, decentralized<br>social enterprise management</h1>
        
        
        
      	
      	<div class="feature">
      			<div onclick="slideShow(-1);" class="fade-left">	
      				<img src="/images/static/fade-arrow-left.png">
      			</div>
      			<div class="screenshot">
      			  <!-- The Video Thumbnail -->
              <a id="videolink" href="http://www.youtube.com/v/YxJDmgOeVeY&autoplay=1" target="blank" title="bettermeans in 3 minutes">
              <img src="/images/static/goals.png" />
              </a>
              <!-- <img src="/images/static/goals.png"> -->
      			</div>
      			<div onclick="slideShow(1);" class="fade">	
      				<img src="/images/static/fade-arrow.png">
      			</div>
      	</div>
      	<div class="span-12">
      		<h2 id="caption">to change our world, we must re-invent <br>how we work togother.</h2>
      	</div>
      </div>
    <!-- end banner -->
    <!-- end main -->
    <!-- end main -->
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->        
      
