<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="blog-post-single"> <a class="blog-post-title">Holiday Giveaways, Freebies and More!</a>
          <div class="meta">
            <p class="sub-meta">Posted December 6, 2009 in <a href="#">Business</a>, <a href="#">Productivity </a></p>
          </div>
          <div class="comments-counter"> <a href="#">40 Comments &raquo;</a> </div>
          <div class="blog-content"> <a href="#"><img src="/images/static/image-post1.jpg" alt="Image Post"  /></a>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            <h3>Lorem ipsum dolor sit amet</h3>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
          </div>
          <!-- blog content -->
          <p class="rating">(8 votes, average: 4.88 out of 5)</p>
          <div class="tweetmemebutton tweetmeme right overflow"> <a class="count" href="#" title="View Details"><span class="c">80</span><br />
            <span class="t">tweets</span> </a> <a class="retweet" title="Retweet this" href="#"> retweet </a> </div>
          <!-- /Retweet -->
          <div id="author" class="overflow clear"> <img src="/images/static/author.jpg" alt="" width="43" height="43" />
            <p>Hi, my name is Collis and I work at Envato where I provide general vision, design, marketing, new business ideas, and generally work very hard. Lorem ipsum dolor sit amet consequectur.</p>
          </div>
          <div id="comments-content">
            <h1>Discussion</h1>
            <a class="comment-counter" href="#comments-content">10 comments</a>
            <div>
              <ol>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
                <li class="reader-comment"> <img SRC="../../../ivor.bz/i/50x50" alt="" width="50" height="50"/> <a href="#">Ivor Padilla</a> <span>on Thursday 19, 2010</span>
                  <div class="clear"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit vestibulum nibh, eu porttitor lorem scelerisque non. Nulla sed lorem metus. Integer eget nisi nulla, vitae euismod arcu. Morbi neque lorem, tempor non condimentum eu, commodo vel mi.</p>
                </li>
              </ol>
            </div>
            <!-- /Reader Comment -->
          </div>
          <div id="comment-box">
            <h3>Leave a comment</h3>
            <div class="comment-intro">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <form id="blog-comment-form"  action="" method="post">
              <p>
                <label for="first">Name</label>
                <input type="text" name="first" id="first" value="Name" onFocus="if (this.value == 'Name') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Name';}"/>
              </p>
              <p>
                <label for="first">Email</label>
                <input type="text" name="first" value="Email" onFocus="if (this.value == 'Email') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Email';}" />
              </p>
              <p>
                <label for="first">Website</label>
                <input type="text" name="first" value="Website" onFocus="if (this.value == 'Website') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Website';}"/>
              </p>
              <p>
                <label for="first">Comments</label>
                <textarea>

  </textarea>
              </p>
              <input style="margin:0" id="contact-submit" class="comments" type="submit" name="submit" value="submit"/>
            </form>
          </div>
        </div>
        <!--/ Entire Post -->
      </div>
      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary sidebar">
        <div id="categories">
          <div class="sidebar-title">
            <h1>Categories</h1>
            <div class="arrow">.</div>
          </div>
          <ul class="blog-sidebar-a">
            <li> <a href="#">ThemeForest Giveaways</a> </li>
            <li> <a href="#">PSDTuts Giveaways</a> </li>
            <li> <a href="#">Photoshop</a> </li>
            <li> <a href="#">Adobe Fireworks</a> </li>
            <li> <a href="#">NewsFlash</a> </li>
            <li> <a href="#">Apple iMac</a> </li>
            <li> <a href="#">Haiti Earthquake</a> </li>
          </ul>
        </div>
        <!-- /Categories -->
        <div id="archives">
          <div class="sidebar-title">
            <h1>Archives</h1>
            <div class="arrow">.</div>
          </div>
          <ul class="blog-sidebar-a">
            <li> <a href="#">January</a> </li>
            <li> <a href="#">February</a> </li>
            <li> <a href="#">March</a> </li>
            <li> <a href="#">April</a> </li>
            <li> <a href="#">May</a> </li>
            <li> <a href="#">June</a> </li>
            <li> <a href="#">July</a> </li>
          </ul>
        </div>
        <!-- /Archives -->
        <div id="text-widget">
          <div class="sidebar-title">
            <h1>Text Widget</h1>
            <div class="arrow">.</div>
          </div>
          <div class="boxxx">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
        <!-- /text-widget -->
        <div id="ads">
          <div class="sidebar-title">
            <h1>Advertisement</h1>
            <div class="arrow">.</div>
          </div>
          <div class="ad-boxes"> <a href="#" class="adhere100px center">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> </div>
        </div>
        <!-- /text-widget -->
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>

<script type="text/javascript">
			// Cufon.replace('h1, h2,h3 ,h4 ,h5 ,h6');
		</script>
