<div id="page">
  <div class="container">
    <%= render :partial => 'home/header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="banner">
      <div  class="span-7" id="description">
        <!-- <p>Collaborate on your projects.<br>Openly and Democratically.<br>Get things done.</p> -->
        <p><br>Start your project now<br>Run it democratically<br>Make your impact</p><br>
        <a class="pricing-buttom" HREF="/front/pricing.html" title="Signup for free">Signup for free</a> <span>or&nbsp;&nbsp;&nbsp;&nbsp;<a HREF="/account/register">sign up for free</a></span> <small>sign up in 60 seconds. fast and secure.</small>
         </div>
      <!-- end description -->
      <div class="span-5 last" id="" style="text-align:center;"><br><br>
        <object width="350" height="287"><param name="movie" value="http://www.youtube.com/v/mMbpejV3NTg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/mMbpejV3NTg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="350" height="287"></embed></object>
      </div>
      <!-- end display -->
    </div>
    <!-- end banner -->
    <br><br>
    <div style="text-align:center;">
    <img src="/images/landingmockup.png" alt="" style="padding:33px">
    </div>

      <!-- <h3>
      Bettermeans is an open democratic project management tool.<br><br>

      It allows people to work together on a project with a meritocratic governance as opposed to command and control.</h3> -->
      <!-- <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

      <script type="text/javascript">
      var m7x3k1 = new WufooForm();
      m7x3k1.initialize({
      'userName':'bettermeans',
      'formHash':'m7x3k1',
      'autoResize':true,
      'height':'261'});
      m7x3k1.display();
      </script> -->
    <div class="clear span-12 last" id="main">
      <div class="span-12 last" id="columns">
        <div class="span-4 cols">
          <a id="single_image" class="fancy_image" href="/images/static/home.png"><img src="/images/static/home_small.png" alt=""/></a>
          <h3>Run your project, don't just document it</h3>
          <p>Using BetterMeans you can openly collaborate on projects, sharing ideas, discussing vision. All in a democratic way.</p>
          <a class="readmore" href="/front/features.html" title="Read More">Read More</a>
          </div>
        <div class="span-4 cols">
          <a id="single_image" class="fancy_image" href="/images/static/dashboard.png"><img src="/images/static/dashboard_small.png" alt=""/></a>
          <h3>Vote on ideas and prioritize work</h3>
          <p>Everyone has a voice and every member has a vote.<br>
          Work with each other towards a shared goal, fairly.</p>
          <a class="readmore" href="/front/features.html" title="Read More">Read More</a>
          </div>
        <div class="span-4 last cols">
          <a id="single_image" class="fancy_image" href="/images/static/activity.png"><img src="/images/static/activity_small.png" alt=""/></a>
          <h3>Democracy minus the bureaucracy</h3>
          <p>Get rid of bottlenecks and make decisions with active members to move your work forward, fast. Decide together quickly. </p>
          <a class="readmore" href="/front/features.html" title="Read More">Read More</a>
          </div>
      </div>
      <!-- end columns -->
      <!-- <div class="span-12 separator"></div> -->
      <!-- <div class="clear span-12 last" id="main-secondary"> -->
        <!-- <div class="span-8 left-content-secondary">
                  <h3>How is our process?</h3>
                  <img src="/images/static/rules.jpg" alt="" width="118" height="117" />
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a
                    "#">Donec quam felis, ultricies nec, pellentesque eu</a>, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. </p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <a href="#">Donec quam felis, ultricies nec, pellentesque eu,</a> pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. </p>
                </div> -->
        <!-- <div class="span-4 last right-content-secondary">
                  <h3>Latest News</h3>
                  <ul>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                    <li> <a href="#"> Lorem ipsum dolor sit amet <span class="meta"> <span class="sub-meta">02 comments</span> <span class="sub-meta">Awards</span> <span>11.25.2009</span> </span> </a> </li>
                  </ul>
                </div> -->
      <!-- </div> -->
      <!-- end main-secondary -->
    </div>
    <!-- end main -->
    <!-- end main -->
  </div>
  <!-- / Container -->
</div>
<!-- / Page -->
<script type="text/javascript">
			// Cufon.replace('h1, h2, #main h3, h4');s
		</script>
<script type="text/javascript">
$(document).ready(function() {

	/* This is basic - uses default settings */

	$(".fancy_image").fancybox();
});
            $(function() {
                $("#toTop").scrollToTop({speed:500,start:700});
            });
        </script>

