

<div id="inner-page">
  <div class="container">
    <div class="container">
        <%= render :partial => 'header', :locals => {:page => 'pricing'} %>
      <div class="clear span-12 last" id="main-inner">

    <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">
    var r7x3s5 = new WufooForm();
    r7x3s5.initialize({
    'userName':'bettermeans',
    'formHash':'r7x3s5',
    'autoResize':true,
    'height':'260'});
    r7x3s5.display();
    </script>
    </div>
  </div>
  <!-- / Main -->
</div>
<!-- / Container -->

<!-- / Inner-Page -->
