<div id="inner-page">
  <div class="container">
      <%= render :partial => 'header', :locals => {:page => 'pricing'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-12 clear">
        <div class="span-8 first">
          <h2>Plans and Pricing</h2>
          <p>Get setup in 60 seconds. No credit card needed. 30-day free trial.</p>
          <!-- <h2 class="main-title-2">30-day Free Trial on All Plans</h2> -->
          <!-- <ul class="span-12" id="main-pricing-list">
            <li class="strong check">Full functionality and 30-day free trial on all plans</li>
            <li class="strong credit-card">No credit card needed</li>
            <li class="strong clock">Get setup in 60 seconds</li>
          </ul> -->
          
          <!-- <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span> --></div>
        <!-- <div class="span-4 last" id="right-call-buttom"> <a href="/front/features.html">See the tour or Call Us</a> </div> -->
        
      </div>
      
      <div class="clear"></div>
      
      <div class="gt-pl hgt-pl free">
              <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">0</span><span class="duration">/mo</span>
          </div>

        <a href="/account/register?plan=0" class="button classy"><span>Create a free account</span></a>
        <h3><!-- Free plan.  --><strong>Unlimited</strong> public workstreams and <strong>unlimited</strong> public users</h3>
        <p>Keep your work open and inclusive, and we won't charge you a dime no matter how large you grow.</p>
        
      </div>

    <div class="clear"></div>
    <div class="gt-pls-row foured">
      <div class="gt-pl pro">
        <h3>
                <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">0</span><span class="duration">/mo</span>
          </div>

          Free
        </h3>
        <div class="gt-r"></div>
        <ul class="gt-bp">
          <li><strong>No private workstreams</strong></li>
          <li>No private users</li>
          <li>1 gb of storage</li>
        </ul>
        <ul class="gt-sp">
          <li><strong>Unlimited</strong> public workstreams</li>
        </ul>

          <a href="/account/register?plan=0" class="button classy pro-gt-pl"><span>Sign up</span></a>

      </div>

      <div class="gt-pl pro middleleft">
        <h3>
                <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">25</span><span class="duration">/mo</span>
          </div>

          Basic
        </h3>
        <div class="gt-r"></div>
        <ul class="gt-bp">
          <li><strong>5</strong> private workstreams</li>
          <li>10 private users</li>
          <li>1 gb of storage</li>
        </ul>
        <ul class="gt-sp">
          <li><strong>Unlimited</strong> public workstreams</li>
        </ul>

          <a href="/account/register?plan=1" class="button classy pro-gt-pl"><span>Sign up</span></a>

      </div>

      <div class="gt-pl pro middleleft">
        <h3>
                <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">50</span><span class="duration">/mo</span>
          </div>

          Better
        </h3>
        <div class="gt-r"></div>
        <ul class="gt-bp">
          <li><strong>20</strong> private workstreams</li>
          <li>25 private users</li>
          <li>5 gb of storage</li>
        </ul>
        <ul class="gt-sp">
          <li><strong>Unlimited</strong> public workstreams</li>
        </ul>

          <a href="/account/register?plan=2" class="button classy pro-gt-pl"><span>Sign up</span></a>

      </div>

      <div class="gt-pl pro">
        <h3>
                <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">100</span><span class="duration">/mo</span>
          </div>

          Super
        </h3>
        <div class="gt-r"></div>
        <ul class="gt-bp">
          <li><strong>100</strong> private workstreams</li>
          <li>60 private users</li>
          <li>50 gb of storage</li>
        </ul>
        <ul class="gt-sp">
          <li><strong>Unlimited</strong> public workstreams</li>
        </ul>

          <a href="/account/register?plan=3" class="button classy pro-gt-pl"><span>Sign up</span></a>

      </div>

      <div class="gt-pl pro">
        <h3>
                <div class="gt-pr">
            <span class="symbol">$</span><span class="amount">200</span><span class="duration">/mo</span>
          </div>

          Go Nuts!
        </h3>
        <div class="gt-r"></div>
        <ul class="gt-bp">
          <li><strong>Unlimited</strong> private workstreams and users</li>
          <li>100 gb of storage</li>
        </ul>
        <ul class="gt-sp">
          <li><strong>Unlimited</strong> public workstreams</li>
        </ul>

          <a href="/account/register?plan=4" class="button classy pro-gt-pl"><span>Sign up</span></a>

      </div>
      
        <div class="gt-pl pro">
          <ul class="gt-pls-features">
            <li class="intro">All plans come with&hellip;</li>
            <li>Free setup</li>
            <li>30-day trial</li>
            <li>SSL security</li>
            <li>Email support</li>
            <li>Wikis</li>
            <li>Discussion boards</li>
            <li>Doc storage &amp; more</li>
          </ul>   
      </div>
      
    </div>

    
         
     <div class="clear"></div>
    <br><br>
           
      <div id="pricing-col" class="span-12 clear">
        <h2>Pricing FAQ’s</h2>
        <div class="column span-5 first">
          <h4>What are workstreams?</h4>
          <p>Workstream is our word for Project: a group or set of work. A workstream
          could be a department of your organization or it could be a specific
          project that you are working on by your self or with others.</p>
          
          <h4>What are users?</h4>
          <p>Users are all the people that you work with on all the different
          work streams you create.</p>
          
          <h4>What's are public vs. private workstreams?</h4>
          <p>Access to a private workstream is determined by the creator of that
          workstream. However public workstreams are available for anyone
          to see, comment on, contribute to. We are excited about openness
          and transparency and the richness that it can bring to all of our work
          – hence unlimited public workstreams for all.</p>
          
          <h4>What are publc vs. private users</h4>
          <p>Public users are those people working with you on public
          workstreams. Similarly, private users are those working with
          you on private workstreams.</p>
          
          <h4>Can I change my plans at any time?</h4>
          <p>Yes. Simply click on the “Account” tab on your dashboard and you’ll see your options</p>

          <h4>Which web browsers do you support?</h4>
          <p>Inernet Explorer 7 or 8, Firefox 3 and higher, Safari 4, and Chrome 4</p>

          <h4>I have more questions...</h4>
          <p>Got more questions? Contact us at <a href="mailto:support@bettermeans.com">support@bettermeans.com</a></p>          
        </div>
        <div class="column span-5">
          <h4>Do I have to sign a long term contract?</h4>
          <p>No. BetterMeans is a pay-as-you-go service. There are no contracts or commitments on your part. Simply pay month-to-month. Cancel anytime, and you'll be billed only for the current month</p>
          <h4>What types of payment do you accept?</h4>
          <p>We only accept payments online. You can use all major credit cards (Visa, Mastercard, and American Express). We do not accept Paypal.</p>
          <h4>How secure is my data?</h4>
          <p>BetterMeans uses <a href="http://heroku.com" target="_blank">Heroku</a> and <a href="http://aws.amazon.com/s3/faqs/" target="_blank">Amazon.com's S3 data services</a> for hosting. These cloud services use enterprise-class firewall and encryption to keep your data safe and secure.</p>
          <p>Data is backed up on an hourly basis to multiple physical locations.</p>

          <h4>How does the 30-day free trial work?</h4>
          <p>If you cancel a paying plan within 30 days of signing up you won’t be charged a thing. Refunds can not be issued after your initial 30 day trial and we don’t prorate for partial months.</p>
          <h4>Do I get a 30-day free trial if I upgrade?</h4>
          <p>If you upgrade from a free account to a pay account you are not eligible for the 30-day free trial. The 30-day free trial on paying plans only applies if you sign up for a paying plan now. You can always downgrade later if you choose.</p>

          <h4>Fine print please...</h4>
          <p>Here is our <a href="/front/user_agreement.html" target="_blank">User Agreement</a> and our <a href="/front/privacy.html" target="_blank">Privacy Policy</a></p>
        </div>        
        <!-- <div class="column span-4 last">
          <h4>Lorem ipsum dolor sit amet</h4>
          <img src="/images/static/img-col-3.jpg" alt="" width="237" height="41" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div> -->
      </div>
      
      <div class="clear"></div>
      <div class="span-3">&nbsp;</div>
      <div class="span-6 last" style="align:center;"> <blockquote>For thousands of years, markets and hierarchies were the only alternatives when it came to aggregating human effort. Now there's a third option: real-time, distributed networks.<br>
      <author>Gary Hamel<br> Voted #1 business thinker by the Wall Street Journal</author></blockquote>
       </div>
       <div class="span-3">&nbsp;</div>
      
    </div>
    
    <!-- end main-inner -->
  </div>
  <!-- / Main -->
</div>
<!-- / Container -->

<!-- / Inner-Page -->