<div id="inner-page">
  <div class="container">
      <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-12 clear">
        <div class="span-8 first inner-page-title">
          <h2 class="main-title-2">30-day Free Trial on All Plans</h2>
          <!-- <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span> --></div>
        <div class="span-4 last" id="right-call-buttom"> <a href="/front/tour.html">See the tour or Call Us</a> </div>
      </div>
      <div class="clear"></div>
      <ul class="span-12" id="main-pricing-list">
        <li class="strong check">Full functionality and solid support</li>
        <li class="strong credit-card">Start working now, no credit card, no charges</li>
        <li class="strong clock">Get setup in 60 seconds</li>
      </ul>
      <div id="pricing">
        <table id="pricing-chart" width="900" border="0">
          <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col" class="top">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th scope="col" class="table-col-0 enterprise"> <a class="sign-up" href="/account/register">Sign Up</a> </th>
            <th scope="col" class="table-col-1 business"> <a class="sign-up-blue" href="/account/register">Sign Up</a> </th>
            <th scope="col" class="table-col-2 standard"> <a class="sign-up" href="/account/register">Sign Up</a> </th>
            <th scope="col" class="table-col-4 free"> <a class="sign-up" href="/account/register">Sign Up</a> </th>
          </tr>
          <tr>
            <td class="blue-1"><span>100 GB of Storage</span></td>
            <td class="green-1"><span>50 GB of Storage</span></td>
            <td class="blue-3"><span>5 GB of Storage</span></td>
            <td class="blue-5"><span>1 GB of Storage</span></td>
          </tr>
          <!-- <tr>
            <td class="blue-2"><span>1000  Email Accounts</span></td>
            <td class="green-2"><span>1000  Email Accounts</span></td>
            <td class="blue-4"><span>1000  Email Accounts</span></td>
            <td class="blue-6"><span>1000  Email Accounts</span></td>
          </tr> -->
          <!-- <tr>
            <td class="blue-1"><span>Unlimited Email Storage</span></td>
            <td class="green-1"><span>Unlimited Email Storage</span></td>
            <td class="blue-3"><span>Unlimited Email Storage</span></td>
            <td class="blue-5"><span>Unlimited Email Storage</span></td>
          </tr> -->
          <tr>
            <td class="blue-2"><span><strong>Unlimited Contributors</strong></span></td>
            <td class="green-2"><span><strong>100 Contributors</strong></span></td>
            <td class="blue-4"><strong>20 Contributors</strong></td>
            <td class="blue-6"><strong>5 Contributors</strong></td>
          </tr>
          <tr>
            <td class="blue-1"><span><strong>Unlimited Private Workstreams</strong></span></td>
            <td class="green-1"><span><strong>30 Private Workstreams</strong></span></td>
            <td class="blue-3"><strong>5 Private Workstreams</strong></td>
            <td class="blue-5"><strong>No Private Workstreams</strong></td>
          </tr>
          <tr>
            <td class="blue-2"><span>30-day Free Trial</span></td>
            <td class="green-2"><span>30-day Free Trial</span></td>
            <td class="blue-4"><span>30-day Free Trial</span></td>
            <td class="blue-6"><span>30-day Free Trial</span></td>
          </tr>
          <tr>
            <td class="blue-1"><span>24/7 Customer Support</span></td>
            <td class="green-1"><span>24/7 Customer Support</span></td>
            <td class="blue-3"><span>24/7 Customer Support</span></td>
            <td class="blue-5"><span>24/7 Customer Support</span></td>
          </tr>
          <tr>
            <td class="blue-2 last"><span class="shield">Enhanced Security</span></td>
            <td class="green-2"><span class="shield">Enhanced Security</span></td>
            <td class="blue-4 push last"><span class="unsupported">Standard Security</span></td>
            <td class="blue-6 push last"><span class="unsupported">Standard Security</span></td>
          </tr>
          <!-- <tr>
            <td class="blue-1"><span class="time">Time Tracking</span></td>
            <td class="green-1"><span class="time">Time Tracking</span></td>
            <td class="blue-3"><span class="unsupported">X</span></td>
            <td class="blue-5"><span class="unsupported">X</span></td>
          </tr> -->
          <!-- <tr>
            <td class="blue-2 last"><span class="iphone">iPhone App<img src="/images/static/new.png" alt="" /></span></td>
            <td class="green-2"><span class="unsupported-green">X</span></td>
            <td class="blue-4 push last"><span class="unsupported">X</span></td>
            <td class="blue-6 push last"><span class="unsupported">X</span></td>
          </tr> -->
          <tr>
            <td>&nbsp;</td>
            <td class="bottom">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        <br>
        <div><a class="sign-up-floating" href="/account/register">Sign Up</a><h3 style="margin-bottom:0">
          BetterMeans is Free for all volunteer run organizations</h3>
          (it's our little shout out: we love you, we support you)
        </div>
        <br><br>
        <p>Have questions? Contact us at <a href="mailto:support@bettermeans.com">support@bettermeans.com</a></p>
        
      </div>
      <div id="pricing-col" class="span-12 clear">
        <h3>Pricing FAQ’s</h3>
        <div class="column span-4 first">
          <h4>Lorem ipsum dolor sit amet</h4>
          <img src="/images/static/img-col-3.jpg" alt="" width="237" height="41" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div>
        <div class="column span-4">
          <h4>Lorem ipsum dolor sit amet</h4>
          <img src="/images/static/img-col-2.jpg" alt="" width="237" height="41" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div>
        <div class="column span-4 last">
          <h4>Lorem ipsum dolor sit amet</h4>
          <img src="/images/static/img-col-3.jpg" alt="" width="237" height="41" />
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div>
      </div>
    </div>
    <!-- end main-inner -->
  </div>
  <!-- / Main -->
</div>
<!-- / Container -->

<!-- / Inner-Page -->

<script type="text/javascript">
			// Cufon.replace('h1, h2,h3 ,h4 ,h5 ,h6');
		</script>
