<p>Your data will not be sold to third parties.</p>

<p>Your data may be used to make Better better.</p>
<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="blog-post-single"> <a class="blog-post-title" HREF="/front/privacy.html" onclick="return false();">BetterMeans Privacy Policy</a>
          <div class="blog-content"> <a href="#"><img src="/images/static/privacy.jpg" alt="Image Post"  /></a>
            <p>Your data will not be sold to third parties.</p>

            <p>Your data may be used to make Better better.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
