<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="span-8 first inner-page-title">
          <h2 class="main-title-2">Create your account</h2>
          <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span> </div>
        <form id="sign-up-top" name="sign-up-top" action="" method="post">
          <h3>Fill your personal information</h3>
          <p>
            <label for="first">First Name</label>
            <input type="text" name="first" id="first"/>
          </p>
          <p>
            <label for="first">Last Name</label>
            <input type="text" name="first" id="first"/>
          </p>
          <p>
            <label for="first">Email</label>
            <input type="text" name="first" id="first"/>
          </p>
        </form>
        <form id="sign-up-bottom" name="sign-up-bottom" action="" method="post">
          <h3>Check this information carefully</h3>
          <p>
            <label for="first">Usename</label>
            <input type="text" name="first" id="first"/>
          </p>
          <p>
            <label for="first">Password</label>
            <input type="password" name="first" id="first"/>
          </p>
          <p>
            <label for="first">Confirm</label>
            <input type="password" name="first" id="first"/>
          </p>
          <p>
            <label for="first">Company</label>
            <input type="text" name="first" id="first"/>
          </p>
        </form>
            <input type="submit" name="submit" value="submit" id="create"/>
      </div>

      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary sidebar">
        <div id="thanks"> <img src="/images/static/thanks.png" alt="" /> </div>
        <!-- /Thanks -->
        <hr />
        <div id="trial">
          <h3>30-day Free Trial</h3>
          <p>We need your billing information to reduce fraud and verify you have a valid credit card should you keep your account open.</p>
        </div>
        <!-- /30trial -->
        <hr />
        <div id="text-widget">
          <div class="cloud">
            <h3>Meedo are simply the best</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
          </div>
          <p class="client"><strong>Collis Taeed</strong>, Envato Marketplaces</p>
        </div>
        <!-- /text-widget - cloud-->
        <hr />
        <div id="widget-4">
          <h3>Who use BetterMeans?</h3>
          <a href="#"><img src="/images/static/vh.jpg" alt=""/></a> <a href="#"><img src="/images/static/tf.jpg" alt=""/></a> <a href="#"><img src="/images/static/fd.jpg" alt=""/></a> </div>
        <!-- /widget-4 -->
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>
<!-- / Container -->

<script type="text/javascript">
      // Cufon.replace('h1, h2');
    </script>
