<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="clear span-12">
        <h2 class="main-title">Watch the Tour</h2>
        <ul id="tour-menu">
          <li><a class="selected" href="#">General</a></li>
          <li><a href="#">How to setup your account</a></li>
          <li><a href="#">How to upload your files</a></li>
        </ul>
        <div class="clear"></div>
        <div id="video-container" class="span-12 clear">
          <div id="video"> </div>
          <object width="777" height="435">
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="movie" VALUE="../../../www.vimeo.com/moogaloop.swf@clip_id=8572290&server=www.vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" />
            <embed SRC="../../../www.vimeo.com/moogaloop.swf@clip_id=8572290&server=www.vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="777" height="435"></embed>
          </object>
          <p><a HREF="../../../www.vimeo.com/8572290">Paris Vol. 4</a> from <a HREF="../../../www.vimeo.com/se7enth">The Seventh Movement</a> on <a HREF="../../../www.vimeo.com/index.htm">Vimeo</a>.</p>
        </div>
        <!-- /Video Container -->
        <div id="tags" class="clear span-12">
          <h1 class="tour-title">Why you’ll love a Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
        </div>
        <!-- /Tags -->
        <div class="separator-big clear">s</div>
        <div id="main-tour-content" class="left span-12 clear">
          <div class="col span-4 first">
            <h3>Not enough?</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
          </div>
          <div class="col span-4">
            <h3>Screenshots</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
            <a href=""><img SRC="../../../dummyimage.com/62x62" alt="Dummy Images"  /></a> <a href=""><img SRC="../../../dummyimage.com/62x62" alt="Dummy Images"  /></a> <a href=""><img SRC="../../../dummyimage.com/62x62" alt="Dummy Images"  /></a> </div>
          <div id="secondary-text" class="clear">
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
          </div>
        </div>
        <!-- / Main Tour Content Left -->
        <ul id="styled-menu" class="right">
          <li> <a href="#"><img src="/images/static/icon-1.png" alt="" width="29" height="29" /><span>Rockstar Design</span></a> </li>
          <li> <a href="#"><img src="/images/static/icon-2.png" alt="" width="29" height="29" /><span>Best Perfomance</span></a> </li>
          <li> <a href="#"><img src="/images/static/icon-3.png" alt="" width="29" height="29" /><span>Download the kit</span></a> </li>
          <li> <a href="#"><img src="/images/static/icon-4.png" alt="" width="29" height="29" /><span>Multiuser</span></a> </li>
          <li> <a href="#"><img src="/images/static/icon-5.png" alt="" width="29" height="29" /><span>On Time</span></a> </li>
          <li> <a href="#"><img src="/images/static/icon-6.png" alt="" width="29" height="29" /><span>Happy Clients</span></a> </li>
        </ul>
      </div>
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>

<script type="text/javascript">
			// Cufon.replace('h2');
		</script>
