<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="clear span-12">
        <h2 class="main-title">Watch the Tour</h2>

      Coming soon...
      </div>
    </div>
  </div>
</div>
