<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'howitworks'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="about">
      <h1>Platform User Agreement</h1>
      <section class="span-12 left whitebox">
        <h2>OPEN ENTERPRISE AGREEMENT</h2>
<p>
        This Agreement is a legal agreement between You ("You") and the other Open Enterprise Participants (as defined below) of the Open Enterprise (as defined below) that You join as a Open Enterprise Participant, with respect to the work that You, together with these other Open Enterprise Participants, perform for that Open Enterprise. This Agreement sets forth the licenses You grant, and certain obligations You have, to other Open Enterprise Participants regarding Your contributions to the Open Enterprise and sets forth certain rights You have as a Open Enterprise Participant of the Open Enterprise regarding contributions of other Open Enterprise Participants. You must accept the terms of this Agreement before participating in the Open Enterprise or contributing any Open Enterprise Contribution (as defined below), or before receiving any Open Enterprise Contributions from other Open Enterprise Participants.
</p>
        <h2>OPEN ENTERPRISE GOVERNANCE</h2>
        <p>

        This Agreement sets forth the legal terms under which You participate in the Open Enterprise. This Agreement is based on the Open Enterprise Governance Model:
</p>        <p>

        Under the principle of Open Enterprise Governance, every Open Enterprise Participant can be part of the decision-making processes that affect the Open Enterprise and such Open Enterprise Participant's contribution to the Open Enterprise. This participation in the decision-making processes of the Open Enterprise can be exercised by voting. The Open Enterprise Governance is defined below.
</p>        <p>

        Individually and collectively, the Open Enterprise Governance Model is aimed at creating a framework or fairness, within which the Open Enterprise Participants will cooperate to achieve the Open Enterprise Result through providing their individual contributions.
</p>

        <h2>AGREEMENT:</h2>

        <h2>1. Open Enterprise STRUCTURE; JOINING A Open Enterprise.</h2>
        <h3>1.1 Open Enterprise.</h3>
<p>
        A "Open Enterprise" is a development Open Enterprise organized and managed through the BetterMeans.com website that has at least one Open Enterprise Participant, has a purpose stated on the BetterMeans.com website, and has a unique Open Enterprise ID on the BetterMeans.com website .
</p>
        <h3>1.2 Open Enterprise Result.</h3>
<p>
        The stated purpose of a Open Enterprise is called a "Open Enterprise Result." The Open Enterprise Result can be a product, software, service, or other goal that the Open Enterprise Assembly (as defined below) for an Open Enterprise decides to pursue. The Open Enterprise Assembly for a Open Enterprise may change and further refine a Open Enterprise Result from time to time.
</p>
        <h3>1.3 Open Enterprise Governance.</h3>
<p>
        This Agreement describes some of the terms governing Open Enterprises, but You should review the Open Enterprise Governance Model and Open Enterprise-related pages of the BetterMeans.com website for more details. Each Open Enterprise is governed by the Open Enterprise Assembly for that Open Enterprise, in accordance with this Agreement and the Open Enterprise Governance Model for the BetterMeans.com website . The "Open Enterprise Assembly" is the collective of all Open Enterprise Participants, which collectively can make binding decisions for the Open Enterprise. The Open Enterprise Assembly makes binding decisions for the Open Enterprise through a voting process that is further described and defined in the Open Enterprise Governance Model (this process is referred to as "Voting"), except to the extent otherwise decided by the Open Enterprise Assembly through Voting prior to a decision.
</p>
        <h3>1.4 Open Enterprise Participants.</h3>
<p>
        Each Open Enterprise is undertaken by one or more Open Enterprise Participants. A "Open Enterprise Participant" means, for any Open Enterprise, (a) You, if You have satisfied all of the conditions set forth in Section 1.5 for that Open Enterprise or (b) another person who has satisfied such conditions for participation set forth in the Software Bill of Rights Agreement entered into by such person for the applicable Open Enterprise. A "Software Bill of Rights Agreement" means an agreement substantially similar to this Agreement, or any prior or subsequent version of this Agreement published by [the hosting agent].
</p>
        <h3>1.5 Joining a Open Enterprise.</h3>
<p>
        You become a Open Enterprise Participant for a particular Open Enterprise by meeting all of the following conditions:
</p><p>
        (a) You register on the BetterMeans.com website to become a Open Enterprise Participant for that Open Enterprise;<br>
        (b) via the BetterMeans.com website , You agree with the Open Enterprise Assembly for the Open Enterprise (or the Open Enterprise Assembly's designee) on a number of Open Enterprise Units you will receive in consideration for one or more Open Enterprise Contributions; and<br>
        (c) either (i) Your Open Enterprise Contribution is accepted by the Open Enterprise Assembly for the Open Enterprise (or by the Open Enterprise Assembly's designee) via the BetterMeans.com website or (ii) You and the Open Enterprise Assembly (or the Open Enterprise Assembly's designee) agree, via the BetterMeans.com website to a task or tasks that You will perform to provide Your Open Enterprise Contribution.
        </p>

        <h3>1.6 Open Enterprise Units.</h3>
<p>
        The Open Enterprise Assembly may grant you Open Enterprise Units for your Open Enterprise Contributions. As determined by the Open Enterprise Assembly, Open Enterprise Units are granted when the events described in Section 1.5(c)(i) or Section 1.5(c)(ii) occur or the Open Enterprise Contribution resulting from tasks performed under Section 1.5(c)(ii) are accepted under Section 2.1(c). A "Open Enterprise Unit" is an intangible token granted by the Open Enterprise Assembly that (a) entitles a Open Enterprise Participant to certain Voting participation in the Open Enterprise Assembly and (b) entitles a Open Enterprise Participant to receive compensation in case the Open Enterprise Assembly decides to commercialize the Open Enterprise Result or any part thereof. The Open Enterprise Governance Model and pages of the BetterMeans.com website that describe the Open Enterprise provide more details about the Open Enterprise Units for a particular Open Enterprise.
</p>
        <h3>1.7 Acceptance of Agreement.</h3>
<p>
        You accept, and agree to comply with, the terms of each other Open Enterprise Participant's Software Bill of Rights Agreement as follows:<br><br>

        (a) Upon You becoming a Open Enterprise Participant, you accept the terms of the Software Bill of Rights Agreements of all existing Open Enterprise Participants and agree to comply with the terms of that Software Bill of Rights Agreement with respect to the Contributions of those Open Enterprise Participants;<br>

        (b) Upon each subsequent Open Enterprise Participant's becoming a Open Enterprise Participant, you accept the terms of that Open Enterprise Participant's Software Bill of Rights Agreement and agree to comply with the terms of that Software Bill of Rights Agreement with respect to the Contributions of that Open Enterprise Participant.<br>
        </p>
        <h2>2. YOUR Open Enterprise CONTRIBUTION.</h2>
        <h3>2.1 Contributions and Acceptance.</h3>
<p>
        (a) A "Open Enterprise Contribution" means the ideas, inventions (whether or not patentable), discoveries, know-how, technical information, methods, processes, designs, schematics, content, documents, materials, tools, software programs or parts thereof (whether in source code, object code, or any other form), and other works of authorship and other forms of technology, as well as services and support, in each case which are contributed by a Open Enterprise Participant to a Open Enterprise.<br>

        (b) After You have become a Open Enterprise Participant, You may (i) provide Your Open Enterprise Contributions to other Open Enterprise Participants and (ii) receive Open Enterprise Contributions from other Open Enterprise Participants.<br>

        (c) After You have provided Your Open Enterprise Contribution to one or more Open Enterprise Participants for acceptance, the Open Enterprise Assembly may accept You Open Enterprise Contribution through Voting.<br>
        </p>

        <h3>2.2 Development License Grant.</h3>
<p>
        You hereby grant to each current and future Open Enterprise Participant a worldwide, perpetual and irrevocable (except as set forth in Sections 2.4 and Section 3), non-exclusive, royalty-free and fully-paid license, without the right to sublicense, limited to the purpose of development of the Open Enterprise Result, including the testing of Open Enterprise Contributions:<br>

        (a) under all intellectual property rights (other than patent or trademark) Licensable by You, to use, reproduce, modify, and create derivative works of Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c); and<br>

        (b) under any one or more patent claims (including method, process, and apparatus claims) in any patent which are currently or in the future Licensable by You ("Patent Claims") that are infringed by the making and using of Your Open Enterprise Contributions (either alone or in combination with other Open Enterprise Participants' Open Enterprise Contributions), to make, have made, and use (i) Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c) and (ii) combinations of Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c) (or portions thereof) with one or more Open Enterprise Contributions of one or more other Open Enterprise Participants.<br>
</p><p>
        As used herein, "Licensable" means, with respect to any intellectual property right, that the grantor has, or subsequently obtains, the right to grant licenses to the licensee hereunder within the scope granted herein without such grant or the exercise of rights thereunder resulting in the payment of royalties or other consideration by the grantor to a third party (except for payments among grantor and its affiliates, and payments to third parties for inventions made by said third parties while employed by the grantor).
</p><p>
        The licenses granted in this Section 2.2 are effective on the date You first provide the applicable Open Enterprise Contribution to another Open Enterprise Participant of the Open Enterprise. For avoidance of doubt, the licenses granted in this Section 2.2 do not include the right to distribute or make available the licensed Open Enterprise Contribution to, or to use the licensed Open Enterprise Contribution to provide services for, any party other than a Open Enterprise Participant.
</p>
        <h3>2.3 Commercialization License Grant.</h3>
<p>
        Effective at the time, and solely to the extent that, the Open Enterprise Assembly decides to commercialize the Open Enterprise Result by distributing or making available the Open Enterprise Result (or parts thereof) to, or using the Open Enterprise Result (or parts thereof) to provide services for, parties other than Open Enterprise Participants, You hereby grant to the current and future Open Enterprise Participants a worldwide, perpetual and irrevocable (except as set forth in Sections 2.4 and 3), non-exclusive, royalty-free and fully-paid license, with the right to sublicense through multiple levels of sublicensees,
</p><p>
        (a) under all intellectual property rights (other than patent or trademark) Licensable by You, to use, reproduce, distribute, publicly perform and display in any form and medium, whether now known or later developed, Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c), and<br>

        (b) under any one or more Patent Claims that are infringed by the making, having made, using, selling, offering for sale, or importing Your Open Enterprise Contributions (either alone or in combination with other Open Enterprise Participants' Open Enterprise Contributions), to make, have made, use, sell, offer for sale, and import (i) Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c) and (ii) combinations of Your Open Enterprise Contributions that have been accepted as set forth in Section 2.1(c) (or portions thereof) with one or more Open Enterprise Contributions of one or more other Open Enterprise Participants, in each case solely as part of the Open Enterprise Result.<br>
</p><p>
        The licenses granted in this Section 2.3 are limited to (i) each version, development stage, or phase of the Open Enterprise Result that the Open Enterprise Assembly has decided to provide to parties other than Open Enterprise Participants and (ii) the scope, method(s) and channel(s) that the Open Enterprise Assembly has decided to employ to provide the Open Enterprise Result to such parties.
</p>
        <h3>2.4 Contribution Non-Acceptance.</h3>
<p>
        If Your Open Enterprise Contribution is not accepted by the Open Enterprise Assembly as set forth in Section 2.1(c), other Open Enterprise Participants retain the right to use any information about, or contained in, Your Open Enterprise Contribution that they retain in their unaided memories.
</p>
        <h3>2.5 Restrictions.</h3>
<p>
        Except as necessary in furtherance of the Open Enterprise and expressly authorized by the licenses that You grant to other Open Enterprise Participants hereunder, Open Enterprise Participants agree not to (a) modify, adapt, alter, translate, or create derivative works from Your Open Enterprise Contributions, (b) reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code for Your Open Enterprise Contributions, (c) sublicense, lease, rent, loan, or otherwise transfer Your Open Enterprise Contributions to any third party, or (d) reproduce, distribute, publicly perform or display, or otherwise use or exploit Your Open Enterprise Contributions.
</p>
        <h3>2.6 Proprietary Rights.</h3>
<p>
        Your Open Enterprise Contributions and all intellectual property rights therein, are the exclusive property of You [and Your suppliers]. All rights in and to the Open Enterprise Contributions not expressly granted to others in this Agreement are reserved by You [and Your suppliers], and there are no implied licenses granted under this Agreement. The licenses granted in this Section 2 are non-transferable and non-assignable, except as provided in Section 3.
</p>
        <h3>2.7 Rules of Open Enterprise.</h3>
<p>
        You agree to comply with the Open Enterprise Governance Model and all other then-current rules and decisions of the Open Enterprise Assembly for Your Open Enterprise as they may be modified and/or amended from time to time by the Open Enterprise Assembly in accordance with the Open Enterprise Governance Model. Unless expressly authorized, no Open Enterprise Participant shall make any representations or warranties, or enter into any agreements, on behalf of another Open Enterprise Participant.
</p>
        <h2>3. END OF PARTICIPATION.</h2>
        <h3>3.1 Transfer of the Open Enterprise.</h3>
<p>
        The licenses granted hereunder to Your Open Enterprise Contributions may be assigned or transferred to an entity (a "Transferee") as determined by the Open Enterprise Assembly through Voting by a majority of all Open Enterprise Participants [as set forth in the Open Enterprise Governance Model]; provided, however, that any such assignment or transfer shall be on the condition that the equity ownership in such Transferee reflects the distribution of Open Enterprise Units among the Open Enterprise Participants at the time of the assignment or transfer. Any assignment or transfer, or attempted assignment or transfer, in violation of this Section 3.1 is void and terminates the licenses granted under Section 2 of the Agreement. You hereby agree to assist and cooperate with the Open Enterprise Assembly and other Open Enterprise Participants in every reasonable way, both during and after the assignment or transfer, to carry our and perfect an assignment or transfer permitted under this Section 3.1.
</p>
        <h3>3.2 Dissolving the Open Enterprise.</h3>
<p>
        If the Open Enterprise Assembly decides by Voting that the Open Enterprise will finally be dissolved, the licenses You have granted under the Agreement and the licenses granted to You by other Open Enterprise Participants in connection with the Open Enterprise, shall be terminated effective upon the date on which the Open Enterprise is finally dissolved.
</p>
        <h3>3.3 Banning of Open Enterprise Participants.</h3>
<p>
        If the Open Enterprise Assembly decides by Voting to ban a Open Enterprise Participant from the Open Enterprise, any and all licenses granted to such Open Enterprise Participant in connection with the Open Enterprise shall be terminated upon the effective date of the banning of that Open Enterprise Participant. Open Enterprise Units granted to the banned Open Enterprise Participant are not affected by the banning of that Open Enterprise Participant.
</p>
        <h2>4. CONFIDENTIALITY</h2>

        <h3>4.1 Terms and Conditions</h3>
<p>
        The terms and conditions of this Agreement protect your Confidential Information only after you have become a Open Enterprise Participant, unless you enter into a separate agreements with the recipient of your Confidential Information. "Confidential Information" means any information disclosed by one Open Enterprise Participant (the "Disclosing Participant") to another Open Enterprise Participant (the "Receiving Participant") in connection with the Open Enterprise that the Receiving Participant knows or reasonably should know is confidential or proprietary to the Disclosing Participant, or should be held confidential or proprietary by all Open Enterprise Participants in their dealings with a party that is not a Open Enterprise Participant, due to the nature or importance of such information for the Open Enterprise or Open Enterprise Result. In any case, Confidential Information includes Open Enterprise Contributions of other Open Enterprise Participants. The obligations of confidentiality under this Section 4 will automatically terminate with respect to any information that (a) was already known by the Receiving Participant at the time of such disclosure; (b) was disclosed to the Receiving Participant by a third party (including another Open Enterprise Participant) who had the right to make such disclosure without any confidentiality restrictions; (c) is, or through no fault of the Receiving Participant has become, generally available to the public; or (d) was independently developed by the Receiving Participant without the use of or reference to Confidential Information of the Disclosing Participant.
</p>
        <h3>4.2 Obligations.</h3>
<p>
        The Receiving Participant will not use any Confidential Information of the Disclosing Participant except to perform Open Enterprise tasks or responsibilities or to exercise licenses granted to the Receiving Participant by the Disclosing Participant. The Receiving Participant will disclose the Confidential Information of the Disclosing Participant only to (a) other Open Enterprise Participants who have a need to know such Confidential Information in furtherance of the Open Enterprise, (b) in case of a commercialization of the Open Enterprise Result, any intended recipient of the Open Enterprise Result to the extent necessary to receive and use the Open Enterprise Result as decided by the Open Enterprise Assembly, and (c) as otherwise authorized by the Disclosing Recipient. If Open Enterprise Contributions (including Code) are deposited in a repository, any Open Enterprise Participant that is granted access to such repository is deemed to have the right to use any Open Enterprise Contribution contained in the repository as set forth in the preceding sentence. The Receiving Participant will protect the Disclosing Participant's Confidential Information in the same manner as the Receiving Participant protects its own confidential or proprietary information of a similar nature, and in no event with less than reasonable care. Notwithstanding the foregoing, the Receiving Participant may disclose Confidential Information of the Disclosing Participant to the extent that such disclosure is required by law or by the order of a court or similar judicial or administrative body, provided that the Receiving Participant notifies the Disclosing Participant of such required disclosure promptly and in writing, and cooperates with the Disclosing Participant, at the Disclosing Participant's request and expense, in any lawful action to contest or limit the scope of such required disclosure.
</p>
        <h2>5. REPRESENTATION AND WARRANTIES.</h2>
<p>
        You represent and warrant to each Open Enterprise Participant that (a) Your Open Enterprise Contribution is an original work of authorship and that You have the authority to grant the licenses set forth in Sections 2.2 and 2.3, (b) to the best of Your knowledge, Your Open Enterprise Contribution does not violate any laws and regulations or rights of any third party, (c) to the best of Your knowledge, Your Open Enterprise Contribution does not infringe the patents, copyrights, trade secrets, or other intellectual property rights of any third party, (d) to the extent Your Open Enterprise Contribution consists of or contains Code, such Code does not (i) contain any Open Source Code, or (ii) contain any "back door," "time bomb," "Trojan Horse," "worm," "drop-dead device," "virus" (as these terms are commonly used in the computer software field), or other software code designed to permit unauthorized access, to disable or erase software, hardware, or data, or to perform any other similar type of function, unless the specifications of Your Code defined by the Open Enterprise Assembly require Your Code to have or contain such functionality. "Open Source Code" means any software code that is distributed as "free software" or "open source software" or is otherwise distributed publicly in source code form under terms that permit modification and redistribution of such software. Open Source Code includes software code that is licensed under the GNU General Public License, GNU Lesser General Public License, Mozilla License, Common Public License, Apache License, BSD License, Artistic License, or Sun Community Source License.
</p>
        <h2>6. DISCLAIMER.</h2>
<p>
        EXCEPT AS EXPRESSLY SET FORTH IN SECTION 5, THE Open Enterprise CONTRIBUTION THAT YOU CONTRIBUTE UNDER THIS AGREEMENT IS PROVIDED BY YOU "AS IS" AND "AS AVAILABLE" AND YOU HEREBY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS, IMPLIED, OR STATUTORY, ARISING IN CONNECTION WITH YOUR Open Enterprise CONTRIBUTION, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.
</p>
        <h2>7. GENERAL</h2>
        <h3>7.1 Independent Contractors.</h3>
<p>
        You and the other Open Enterprise Participants are and at all times will be and remain independent contractors as to each other, and at no time will either Open Enterprise Participant be deemed to be the agent, employee, or partner of the other, or an agent or employee of the Open Enterprise, which is not an entity. No joint venture, partnership, agency, or other relationship will be created or implied as a result of this Agreement.
</p>
        <h3>7.2 Indemnification.</h3>
<p>
        You will indemnify and hold harmless each and every Open Enterprise Participant from and against all liabilities, losses, damages, costs, and other expenses (including attorneys' and expert witnesses' costs and fees) arising from or relating to any third party claim based upon (a) any breach by You of any of Your representations or warranties set forth in Section 5 above or (b) any breach by You of Section 2.7 or Section 4.
</p>
        <h3>7.3 Assignment.</h3>
<p>
        No party to this Agreement may assign this Agreement (including the license granted herein) to any third party without approval of the Open Enterprise Assembly as set forth in the Open Enterprise Governance Model, except as provided in Section 3.1. Any assignment or attempted assignment in violation of this Section 7.3 will be void.
</p>
        <h3>7.4 Waivers; Amendment.</h3>
<p>
        No waiver of any terms or conditions of this Agreement will be valid or binding on You unless You make the waiver in writing. Your failure to enforce any of the provisions of this Agreement, or the failure to require at any time the performance of another party of any of the provisions of this Agreement, will in no way be construed to be a present or future waiver of such provisions, nor in any way affect Your ability to enforce each and every provision thereafter. This Agreement may not be altered, amended, modified, or otherwise changed in any way except by a written instrument signed by You.
</p>
        <h3>7.5 Severability.
          </h3>
<p>
        If any provision of this Agreement is found or held to be invalid or unenforceable by any tribunal of competent jurisdiction, then the meaning of such provision will be construed, to the extent feasible, so as to render the provision enforceable, and if no feasible interpretation would save such provision, it will be severed from the
        remainder of this Agreement, which will remain in full force and effect.
</p>
        <h3>7.6 Construction.</h3>
<p>
        The headings of sections of this Agreement are included solely for convenience of reference and are not to be used to interpret, construe, define, or describe the scope of any aspect of this Agreement. As used in this Agreement, the word "including" means "including but not limited to."
</p>
        <h3>7.7 Entire Agreement.</h3>
<p>
        This Agreement constitutes the entire agreement and final understanding of You and the other Open Enterprise Participants with respect to the subject matter hereof, and supersedes any other and all prior or contemporaneous negotiations, representations, understandings, discussions, offers, and agreements between You and the other Open Enterprise Participants, whether written or oral, express or implied, relating in any way to the subject matter hereof. This Agreement is intended by You and the other Open Enterprise Participants to be a complete and wholly integrated expression of their understanding and agreement.
</p>

</section></div></div></div></div>
