<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'what'} %>
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>Get things done together efficiently</h1>
      <span class="span-12 left whitebox">
      	<span class="span-6 left colborder">
          <h2>Home Screen and Workstreams</h2>
          <p>The home screen of your project is the first page you will see. It shows an overview of your team’s work with:
          </p>
          <ul>
            <li>Lastest Activity </li>
            <li>Workstreams </li>
            <li>Lastest News </li>
            <li>Team Members </li>
            <li>Quicklinks </li>
            <li>Work Breakdown </li>
          </ul>
      	</span>
      	<span class="span-6 left last">
      	  <span class="viewport">
          <a class="videolink" href="http://www.youtube.com/v/0wJAf229YUs&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="open enterprise governance">
          <img src="/images/static/tutorialvideo.jpg" />
          </a>
          </span>
          <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them<author>Albert Einstein</author></blockquote>
          
        </span>
      	
      	<!-- <span class="span-6 left last">
      	         <span class="viewport">
      	<a class="fancy_image" HREF="/images/static/home.png" title="Home Screen"> <span class="dark-background"></span> <img src="/images/static/home_medium.png" alt="" width="460" height="247"/> </a>
      	          </span>
      	          <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them<author>Albert Einstein</author></blockquote>
      	         
      	       </span> -->
        
      </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
            	<span class="span-6 left colborder">
                <h2>Dashboard</h2>
                <p>The dashboard provides a full view of all the items in a workstream. 
                From the dashboard you can: 
                </p>
                <ul>
                  <li>Propose new ideas </li>
                  <li>Comment on other people's ideas </li>
                  <li>Vote for or against ideas </li>
                  <li>Prioritize important work </li>
                  <li>Estimate complexity/cost </li>
                  <li>Manage a Todo list for each item </li>
                  <li>Start or join teams </li>
                  <li>Report on finished items </li>
                  <li>Accept or reject other's work </li>
                </ul>
            	</span>
            	<span class="span-6 left last">
            	  <span class="viewport">
                  <a class="videolink" href="http://www.youtube.com/v/GRUDSoR12s8&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="Worksrtream Dashboard">
                  <img src="/images/static/dashboard_video.png" />
                  </a>
                </span>
            	</span>
            </span>
      </div>
      <div class="paint">
        <p>
        learn about <br><a href="/front/how.html">how an open enterprise works</a></p>
      </div>
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
            	<span class="span-6 left colborder">
                <h2>Lightbox</h2>
                <p>The lightbox allows you to view all the specifics of an item without navigating away from the page you are on. <br>
                A lightbox opens from the activity page or the dashboard, allowing you to do everything that you do in the dashboard (listed above) but with more information.  
                </p>
            	</span>
            	<span class="span-6 left last">
            	  <span class="viewport">
                <a class="videolink" href="http://www.youtube.com/v/dkFamGHd2qw&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="lightbox view">
                <img src="/images/static/lightbox_video_background.png" />
                </a>
                </span>                          
              </span>
      </div>

      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
	            <span class="span-6 left colborder">
                <h2>Activity</h2>
                <p>The activity is a news feed of all of the activity for that workstream.<br>
                From the activity page you can
                </p>
                <ul>
                  <li>See the latest buzz, comments, and discussions</li>
                  <li>Comment on items</li>
                  <li>Open any item in a lightbox and take action</li>
                </ul> 
                </span>
                
                	<span class="span-6 left last">
                	  <span class="viewport">
                    <a class="videolink" href="http://www.youtube.com/v/_aAEQGB40gU&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="activity stream">
                    <img src="/images/static/activity_video_background.jpg" />
                    </a>
                    </span>                          	
                </span>
            </span>
      </div>

      <!-- <div>
                  <h1></h1>
                  <span class="span-12 left whitebox">
                    <span class="span-6 left colborder">
                      <h2>Governance and Membership</h2>
                      <p>Our revolution of work is the DEMOCRACY that we offer in our platform. That means that everyone has a vote and every voice is represented in your truly collaborative work.
                      </p>
                      <p>No bosses, no jobs, just work</p>
                      <p>It's really best explained in this video. We recommend you take the time to watch it</p>
                      <p>Also worth checking out is the <a href="/front/open_enterprise_governance_model.html" target="_blank">Open Enterprise Governance Model</a></p>
                    </span>
                    <span class="span-6 left last">
                      <span class="viewport">
                      <a class="videolink" href="http://www.youtube.com/v/IdcAxGGRafc&hl=en&fs=1&autoplay=1" target="blank" title="Open Enterprise Governance Model">
                      <img src="/images/static/openenterprisegovernance.jpg" />
                      </a>
                      </span>
                    </span>
                  </span>
            </div>
             -->
          <div>
            <!-- <div class="span-12 spacer">&nbsp;</div>
            <div class="span-12 spacer">&nbsp;</div> -->
            
            <!-- <h1>Fair Compensation. Say farewell to annual reviews.</h1> -->
            <span class="span-12 left whitebox">
            	<span class="span-6 left colborder">
                <h2>Item Estimation</h2>
                <p>Work items' complexity can be collectively estimated via the dashboard.<br>Here's how it works:
                </p>
                <!-- <p>We borrowed heavily from modern software development methodlogies (scrum and kanban to be exact).<br>Here's how it works</p> -->
                <p>Members of a team who choose to, can estimate the item's complexity on a scale from one to six. The assessment of all members with a binding vote is averaged. Non-binding assessments are logged but don't affect the final complexity of an item.</p>
                <p>Depending on how complex an item has been estimated, it needs fewer or more votes to move from one state to another. <strong>This allows big-item decisions to move slower, giving more people a chance to weigh in on it, while small-item decisions can move quickly without being blocked.</strong></p>
                <p>Knowing an item's complexity also better informs the team to properly prioritize it. </p>
            	</span>
            	<span class="span-6 left last">
            	  <span class="viewport">
                <a class="videolink" href="http://www.youtube.com/v/ydHazAMogaw&hl=en&fs=1&autoplay=1&fmt=6" target="blank" title="retrospectives">
                <img src="/images/static/estimation_video.png" />
                </a>
                </span>                          	
              	<blockquote>We have created trouble for ourselves in organizations by confusing control with order<author>Margarate J. Wheatley</author></blockquote>
              
            	
            </span>
      </div>
      <div class="paint">
        <p>
        take a look at our<br><a href="/front/pricing.html">plans and pricing</a>
        </p>
      </div>

      <div>
          <h1></h1>
          <span class="span-12 left whitebox">
            <span class="span-6 left colborder">
              <h2>Motions</h2>
              <p>Motions are a way to make big organizational decisions together. They can be used for thinks like</p>
              <ul>
                <li>Nominating a new member</li>
                <li>Nominating a core team member</li>
                <li>Revised mission statement</li>
                <li>New strategic direction</li>
                <li>New hourly work type</li>
              </ul>
              </p>
            </span>
            <span class="span-6 left last">
              <span class="viewport">
                <a class="fancy_image" HREF="/images/static/motion.png" title="Work Item Estimation"> <span class="dark-background"></span> <img src="/images/static/motion_medium.png" alt="" width="460" height="247"/> </a></span>            
                
                </span>
            </span>
          </span>
      </div>


      <div>
          <h1></h1>
          <span class="span-12 left whitebox">
            <span class="span-6 left colborder">
              <h2>Discussion Boards</h2>
              <p>If you have an idea that you are not yet ready to propose and want to talk to folks about it, start a discussion.</p>
              <p>Topics you might discuss:</p>
              <ul>
                <li>General strategy</li>
                <li>New possible workstreams</li>
                <li>New target audience</li>
                <li>Anything else that comes to mind...</li>
              </ul>
            </span>
            <span class="span-6 left last">
              <span class="viewport">
                <a class="fancy_image" HREF="/images/static/discussion.png" title="Work Item Estimation"> <span class="dark-background"></span> <img src="/images/static/discussion_medium.png" alt="" width="460" height="247"/> </a></span>            
                </span>
            </span>
          </span>
      </div>

      
      <div class="paint">
        <p>
        &nbsp;<br><a href="/front/pricing.html">get started by signing up</a>
        </p>
      </div>
      
      <div>
          <h1></h1>
          <span class="span-12 left whitebox">
            <span class="span-6 left colborder">
              <h2>Wiki</h2>
              <p>Yup, we have wikis too. </p>
              <p>A wiki is a tool that allows the easy creation and collaboration of any number of interlinked documents.</p>
              <p>You can create a document and collect information together. Edit and work with each other to build knowledge and move forward. </p>
            </span>
            <span class="span-6 left last">
              <h2>Document Storage</h2>
              <p>You have the ability to:</p>
              <ul>
                <li>Attach documents to a specific work item</li>
                <li>Gather documents within a workstream</li>
                <li>Store documents at the root workstream level</li>
              </ul>
               <p>Note: Storage limits exist for private workstreams. For more information on this <a href="/front/pricing.html">see our Pricing and Plans</a>. </p>
            </span>
          </span>
      </div>
      
      
      <div>
          <h1></h1>
          <span class="span-12 left whitebox">
            <span class="span-6 left colborder">
              <h2>Data Security &amp; Backup</h2>
              <p>We treat your data royally. Its religiously backed up to Amazon’s weapons-grade data centers. Don’t worry.</p>
              <p>All traffic to and from our servers is encrypted using 128-bit SSL (that’s geek-speak for really really safe).</p>
              <p>We've got you covered.</p>
              <span style="margin-left:160px">
              <img src="/images/static/lock.jpg"/>
              </span>
              
            </span>
            <span class="span-6 left last">
              <h2>Browser Compatibility</h2>
              <span style="margin-left:60px">
              <img src="/images/static/browsers.jpg"/>
              </span>
              <p>Currently BetterMeans.com is compatible with the following browsers:</p>
              <ul>
                  <li>Internet Explorer 7,8,9</li>
                  <li>Firefox 3 and higher</li>
                  <li>Safari 4 and higher</li>
                  <li>Chrome 4</li>
              </ul>

            </span>
          </span>
      </div>
      
      <div class="paint">
        <p>
        take a look at our<br><a href="/front/pricing.html">plans and pricing</a>
        </p>
      </div>

      <!-- <div>
          <h1></h1>
          <span class="span-12 left whitebox">
            <span class="span-6 left colborder">
              <h2></h2>
            </span>
            <span class="span-6 left last">
              <span class="viewport">
                </span>
            </span>
          </span>
      </div> -->
            
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>

</body>
<!-- / page -->
</html>