<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'why'} %>
    <div class="clear span-12 last" id="main-inner">
      <div>
      <h1>why bettermeans?</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>The way we work together, needs an upgrade</h2>
                      <p>We are facing mounting social, environmental and economic problems.
                        A lot of us want to work toward solving them and we are learning that these problems are interconnected, and complex.</p>
                      <p>We are trying to solve these problems using organizational structures that were invented before the light bulb! Industrial-age orgs are not smart or flexible enough to navigate the challenges we are facing. </p>
                        <p><strong>To change our world, we need a new agreement of how we work together.</strong> How we make decisions. How we decide on who gets to work on what. And who gets paid what.</p>
                        
                        
                        <!-- <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them. <author>~Albert Einstein</author></blockquote> -->
                        

        </span>
        <span class="span-6 left last">
          
          <span class="viewport">
          <a id="videolink" href="http://www.youtube.com/v/OZaxoRi6IlE&autoplay=1" target="blank" title="tale of two tales">
          <img src="/images/static/taleoftwotales.jpg" />
          </a>
          </span>
          <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them<author>Albert Einstein</author></blockquote>
          
        </span>
        
        
      </span>
      </div>
      <div class="paint">
        <p>
        learn about <br><a href="/front/how.html">how an open enterprise works</a></p>
      </div>
      <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
                <h2>Social Entrepreneurs: Helping others do great work</h2>
                <p>Two thirds of Americans have an idea for an entrepreneurial venture but only a tenth of them will carry through with it.  <strong>There are very few real sources of capital available for social entrepreneurs,</strong> and the current professional capital market, with very few exceptions, demands exponential growth from young startups with oppressive contractual agreements, furthermore it is only focused on a narrow slice of economic activity.</p>
                <p>Innovations in social entrepreneurship are choked by the lack of supportive funding channels and the difficulty of finding and recruiting the appropriate workforce.  <strong>Entrepreneurs need better access to capital and talent,</strong> they need passionate people who will work because they believe in the idea, and commit to projects without being told what to do.</p>
                <p>The Open Enterprise Model is <strong>a way for people with ideas to connect to others and get those ideas of the ground with minimal bureaucracy or resistance.</strong>  It harnesses the collective wisdom, creativity, passion, and productivity of a dispersed crowd - whether in one city block or across oceans - and channels their efforts in order to simply get good work done! Which is the real reason the majority of us wake up in the morning, to do good work in this world.</p>
              </span>
              <span class="span-6 left last">
                <span class="viewport">
                <a class="fancy_image" title="Principles of an Open Enterprise" HREF="/images/static/principles.png"> <span class="dark-background"></span> <img src="/images/static/principles_medium.png" alt="" width="460" height="247"/> </a></span>
                <br><br>
                <blockquote>We will need a willingness to question our most deeply held habitual ways of seeing organizations and management. We will need a willingness eventually to embrace the seeming chaos of an organization that no one ‘runs’ and where we all share responsibility. We will need to embrace continual mistake-making and correcting, nature’s learning process. And we will need a willingness to surrender the personal need to control—‘the closet Newtonian’ that resides in all of us.<author>Dee Hock, CEO and Founder of Visa</author></blockquote>
              </span>
            </span>
      </div>
      <div class="paint">
        <p>
        take a look at our<br><a href="/front/pricing.html">plans and pricing</a>
        </p>
      </div>
      
      <!--       <blockquote>For me, this is a familiar image – people in the organization ready and willing to do good work, wanting to contribute their ideas, ready to take responsibility, and leaders holding them back, insisting that they wait for decisions or instructions<author>Margarate J. Wheateley</author></blockquote>
            
            
            
            
            
            
            
            
            <blockquote>Vast white-collar bureaucracies exist everywhere, with mountains of procedures manuals depressing minds, avalanches of directives burying judgment, forests of reports obscuring perception, floods of studies inundating initiative, oceans of committees submerging responsibility and drowning decisions. You know what I mean. You have endlessly suffered through it and, worse yet, may be inflicting it on others. It has created a society of people alienated from their work and from the organizations in which they are enmeshed. Far too much ingenuity, effort, and intelligence go into circumventing the mindless, sticky web of rules and regulations by which people are needlessly bound<author>Dee Hock, Founder and CEO of VISA</author></blockquote>
            
            
            
            <blockquote>I believe that the capacity that any organisation needs is for leadership to appear anywhere it is needed, when it is needed<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>In these troubled, uncertain times, we don't need more command and control; we need better means to engage everyone's intelligence in solving challenges and crises as they arise<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>We have created trouble for ourselves in organizations by confusing control with order<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>Companies with their eye on their 'triple-bottom-line' outperform their less fastidious peers on the stock market<author>The Economist</author></blockquote>
            
            <blockquote>Companies that are breaking the mold are moving beyond corporate social responsibility to social innovation. These companies are the vanguard of the new paradigm. They view community needs as opportunities to develop ideas and demonstrate business technologies, to find and serve new markets, and to solve longstanding business problems<author>Rosabeth Moss Kanter, Harvard Business Review</author></blockquote> -->
      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 viewport left last">
              </span>
            </span>
      </div> -->
      
      
      <!-- <div class="clear span-12">
        <div class="span-12 first inner-page-title">
          <h2 class="main-title-2">Get things done together, don't just document</h2>
          </div>
        <div class="clear"></div>
        <! Gallery -->
      </div>
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>
</body>
<!-- / page -->
</html>