<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.example").fancybox({
				'titleShow'     : false,
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic'
			});
		});
	</script>
<div id="inner-page">
  <div class="container">
   <%= render :partial => 'header', :locals => {:page => 'why'} %>
    <div class="clear span-12 last" id="main-inner">
      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 viewport left last">
              </span>
            </span>
      </div> -->
      
      
      <div>
      <h1>why bettermeans?</h1>
      <span class="span-12 left whitebox">
        <span class="span-6 left colborder">
          <h2>The way we work together, needs an upgrade</h2>
                      <p>We face complex and interconnected social, environmental and economic problems.
                        A lot of us want to work toward solving them.
                        We are learning that these problems are interconnected, and complex.</p>
                      <p>  We are trying to solve these problems using organizational structures that were invented before the light bulb! Industrial-age orgs are not smart or flexible enough to navigate the challenges we are facing. </p>
                        <p>We need a new agreement of how we work together. How we make decisions. How we decide on who gets to work on what. And who gets paid what.</p>
                        
                        
                        <!-- <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them. <author>~Albert Einstein</author></blockquote> -->
                        

        </span>
        <span class="span-6 left last">
          
          <span class="viewport">
          <a id="videolink" href="http://www.youtube.com/v/OZaxoRi6IlE&autoplay=1" target="blank" title="tale of two tales">
          <img src="/images/static/taleoftwotales.jpg" />
          </a>
          </span>
          <blockquote>The significant problems we have cannot be solved at the same level of thinking with which we created them<author>Albert Einstein</author></blockquote>
          
        </span>
        
        
      </span>
      </div>
      
      <!--       <blockquote>For me, this is a familiar image – people in the organization ready and willing to do good work, wanting to contribute their ideas, ready to take responsibility, and leaders holding them back, insisting that they wait for decisions or instructions<author>Margarate J. Wheateley</author></blockquote>
            
            
            <blockquote>In the age of hand-crafting, the dominant forms of organization were the all-powerful churches, kingdoms, and hand-craftsmen guilds. Just as the age of machine-crafting led the emergence of today’s organizations, ending the dominance of guilds, kingdoms, and churches, so too will the age of mind-crafting give rise to new, more chaordic concepts of organization that will end the dominance of today’s organizational structures<author>Dee Hock, CEO and Founder of VISA</author></blockquote>
            
            
            <blockquote>Greater transparency is an unstoppable force… the Internet makes it far easier for firms to supply information, and harder for them to keep secrets. Firms now know that their internal e-mails may one day become public knowledge, for instance, and many big companies must co-exist with independent websites where employees can meet anonymously to air their grievances. With greater transparency will come greater accountability and better corporate behaviour. Rather than engage in futile resistance to it, firms should actively embrace transparency and rethink their values and generally get in better shape<author>Don Tapscott, The Naked Corporation</author></blockquote>
            
            
            <blockquote>Vast white-collar bureaucracies exist everywhere, with mountains of procedures manuals depressing minds, avalanches of directives burying judgment, forests of reports obscuring perception, floods of studies inundating initiative, oceans of committees submerging responsibility and drowning decisions. You know what I mean. You have endlessly suffered through it and, worse yet, may be inflicting it on others. It has created a society of people alienated from their work and from the organizations in which they are enmeshed. Far too much ingenuity, effort, and intelligence go into circumventing the mindless, sticky web of rules and regulations by which people are needlessly bound<author>Dee Hock, Founder and CEO of VISA</author></blockquote>
            
            
            
            <blockquote>I believe that the capacity that any organisation needs is for leadership to appear anywhere it is needed, when it is needed<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>In these troubled, uncertain times, we don't need more command and control; we need better means to engage everyone's intelligence in solving challenges and crises as they arise<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>We have created trouble for ourselves in organizations by confusing control with order<author>Margarate J. Wheatley</author></blockquote>
            
            <blockquote>Companies with their eye on their 'triple-bottom-line' outperform their less fastidious peers on the stock market<author>The Economist</author></blockquote>
            
            <blockquote>Companies that are breaking the mold are moving beyond corporate social responsibility to social innovation. These companies are the vanguard of the new paradigm. They view community needs as opportunities to develop ideas and demonstrate business technologies, to find and serve new markets, and to solve longstanding business problems<author>Rosabeth Moss Kanter, Harvard Business Review</author></blockquote> -->
      <!-- <div>
            <h1></h1>
            <span class="span-12 left whitebox">
              <span class="span-6 left colborder">
              </span>
              <span class="span-6 viewport left last">
              </span>
            </span>
      </div> -->
      
      
      <!-- <div class="clear span-12">
        <div class="span-12 first inner-page-title">
          <h2 class="main-title-2">Get things done together, don't just document</h2>
          </div>
        <div class="clear"></div>
        <!-- Gallery -->
      </div> -->
      <!-- end main-inner -->
    </div>
    <!-- / Main -->
  </div>
  <!-- / Container -->
</div>
</body>
<!-- / page -->
</html>