<% content_for :help_section do -%>
  <!-- <h3>Help Tip</h3> -->
  <!-- <a href="#" onclick="$('#help_section').hide(); return false;" class="help-section-link">Close</a> -->
  <%#= link_to_remote "Don't show again", {:url => {:controller => :help_sections, :action => :dont_show, :id => help_section.id}}, :class => "help-section-link" %>
  <!-- <div class="clear"></div> -->
  <p>
    <%= l("help_section_#{name}") %>
  </p>

<% end %>