<div id="help_section_container" style="display:none">
<div class="help-section" id="help_section" style="margin-bottom:0;width:630px;">
<h3><%= l("help_section_#{help_section.name}").split("|")[0] %></h3>
<a href="#" onclick="$.fancybox.close(); return false;" class="help-section-link">Close</a>
<%= link_to_remote "Don't show again", {:url => {:controller => :help_sections, :action => :dont_show, :id => help_section.id}}, {:class => "help-section-link", :onclick => "$.fancybox.close()"} %>
<div class="clear"></div>

<p>
  <%= l("help_section_#{help_section.name}").split("|")[1] %>
</p>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){

  $.fancybox({
        'content'      : $('#help_section_container').html(),
        'padding'    : 0,
        'margin'  : 0,
        // 'title'      : 'Help Tips',
        'transitionIn'  : 'elastic',
        'transitionOut'  : 'elastic',
        // 'scrolling' : 'no'
      });

});

</script>
