<h1>Listing help_sections</h1>

<table>
  <tr>
  </tr>

<% @help_sections.each do |help_section| %>
  <tr>
    <td><%= link_to 'Show', help_section %></td>
    <td><%= link_to 'Edit', edit_help_section_path(help_section) %></td>
    <td><%= link_to 'Destroy', help_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New help_section', new_help_section_path %>
