<tr id="<%= member.principal.login %>" class="<%= cycle 'odd', 'even' %> member <%= member.principal.name %>">
<td width="10px">  <%= avatar(member.principal, :size => "64") %></td>
<td class="<%= member.principal.class.name.downcase %>"><%= link_to_user member.principal %></td>
<td class="roles">
  <span id="member-<%= member.id %>-roles"><%=h member.roles.sort.collect(&:to_s).join(', ') %></span>
</td>
<td class="points">
  <%= nomination_links(member,@project) %>
</td>
</tr>
