<div class="contextual">
  <%#= render :partial => 'team_link', :locals => {:project => @project}%>
</div>

<h2 class="gt-table-head"><%=l(:label_team)%></h2>	


<%= error_messages_for 'member' %>

<div class="splitcontentleft">
<%= render :partial => 'team_list', :locals => {:project => @project} %>
</div
>

<% html_title(l(:label_team)) %>
