<h2 class="gt-table-head"><%=l(:label_team)%></h2>	


<%= error_messages_for 'member' %>

<div class="splitcontentleft">
<%= render :partial => 'team_list', :locals => {:project => @project} %>
</div
>

<% content_for :sidebar do %>
<div class="gt-sidebar-logo">
<%= image_tag formatted_project_path(@project, :png)  if @project.has_image? %>
</div>
<% end %>
<% html_title(l(:label_team)) %>
