production:
  adapter: postgresql
  database: bettermeans_development
  host: localhost
  min_messages: WARNING
  username: postgres
  password: <your production database password goes here>

development:
  adapter: postgresql
  database: bettermeans_development
  host: localhost
  min_messages: WARNING

test: &TEST
  adapter: postgresql
  database: bettermeans_test
  host: localhost
  min_messages: WARNING
