production:
  adapter: mysql
  database: bettermeans_production
  host: localhost
  username: root
  password: tree
  encoding: utf8

development:
  adapter: postgresql
  database: bettermeans_development
  host: localhost
  min_messages: WARNING
  username: postgres
  password: tree

test: &TEST
    adapter: postgresql
    database: bettermeans_test
    host: localhost
    min_messages: WARNING
    username: postgres
    password: tree

test_pgsql:
  adapter: postgresql
  database: bettermeans_test
  host: localhost
  min_messages: WARNING
  username: postgres
  password: "postgres"

test_sqlite3:
  adapter: sqlite3
  dbfile: db/test.db
  
demo:
  adapter: sqlite3
  dbfile: db/demo.db
  

cucumber:
  <<: *TEST
  
selenium:
  <<: *TEST
