production:
  adapter: postgresql
  database: bettermeans_development
  host: localhost
  min_messages: WARNING
  username: postgres
  password: tree

development:
  adapter: postgresql
  database: bettermeans_development
  host: localhost
  min_messages: WARNING
  username: postgres
  password: tree

test: &TEST
  adapter: postgresql
  database: bettermeans_test
  host: localhost
  min_messages: WARNING
  username: postgres
  password: tree
