<div class="gt-content-box">
<%
pie_data = []
pie_labels = []
total_points = 0
unit = unit_for(@project)
unit = '' if unit != '$'


group_credits.each_value {|credits| total_points += credits.collect(&:amount).sum }

group_credits.keys.sort.each do |owner_id|
  total_amount = group_credits[owner_id].collect(&:amount).sum.round.to_i
  percentage_points = total_points == 0 ? 0  : (total_amount / total_points * 100).round_to(1).to_i
  pie_data << percentage_points.round.to_i
  pie_labels << User.find(owner_id).firstname + " #{number_to_currency total_amount, :unit => unit, :separator => ".", :delimiter => ",", :precision => 0}"
end
 %>

 <img src="<%=  Gchart.pie(:title => "#{title} - #{number_to_currency total_points.round.to_i, :unit => unit, :separator => ".", :delimiter => ",", :precision => 0}",
                :size => '400x200',
                :data => pie_data, :labels => pie_labels )
  %>"/>

</div>
