<h1>Listing retros</h1>

<table>
  <tr>
  </tr>

<% @retros.each do |retro| %>
  <tr>
    <td><%= link_to 'Show', retro %></td>
    <td><%= link_to 'Edit', edit_retro_path(retro) %></td>
    <td><%= link_to 'Destroy', retro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New retro', new_retro_path %>
