<div id= "activity">
<dl>
<% activities_by_item.each do |key, value| %>
<%= render :partial => 'activity_streams/activity_stream_group', :locals => {:asg_name => key, :asg => value} %> 
<% end %>
</dl>
</div>
