<% @page_header_name = l(:label_browse_activity) %>
<div class = "clear">
<h2>All Site ActivityStreams</h2>

<% @grouped_by_item.each do |key, value| %>
<%= render :partial => 'activity_streams/activity_stream_group', :locals => {:activity_stream_group_name => key, :activity_stream_group => value} %>
<% end %>

</div>
