<%= error_messages_for 'hourly_type' %>

<div class="gt-content-box">
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_field :hourly_rate_per_person, :required => true %></p>
<p><%= f.text_field :hourly_cap, :required => true %></p>
</div>
