<%# @page_header_name = "My Items" %>
<% content_for :mainmenu do %>
  <%= render :partial => 'common/main_menu_home', :locals => {:active_page => :myissues} %>
<% end %>

<%= render_tabs my_issues_tabs %>

<% content_for :actionmenu do %>
    <ul>
    <li>
      <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project}, :class => "icon icon-add" %>
    </li>
    </ul>
    <ul>
    <li>
      <%= link_to l(:label_browse_workstreams), {:controller => 'projects', :action => 'index'}, :class => "icon icon-projects" %>
    </li>
    </ul>
<% end %>
